<footer class="footer-area">
  <div class="footer-big section--padding">
    <!-- start .container -->
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-6">
          <div class="info-footer">
            <div class="info__logo">
              <img src="assets/images/yticon_white_logo.png" alt="footer logo">
            </div>
            <p class="info--text">Buy, sell and collect your favorite youtubers powered by Ethereum</p>
            <div class="yticons-compl-infos">
              <ul class="info-contact">
                <li>
                  <span class="lnr lnr-envelope info-icon"></span>
                  <span class="info">contact@yticons.co</span>
                </li>
              </ul>
              <div class="social social--color--filled">
                <ul>
                  <li><a href="https://www.facebook.com/YTIcons-155634891802441/" (click)='socialEvent("Facebook")' target="_blank"><span class="fab fa-facebook-f"></span></a></li>
                  <li><a href="https://twitter.com/YT_Icons" (click)='socialEvent("Twitter")' target="_blank"><span class="fab fa-twitter"></span></a></li>
                  <li><a href="https://discord.gg/zFEwyan" (click)='socialEvent("Discord")' target="_blank"><span class="fab fa-discord"></span></a></li>
                </ul>
              </div>
            </div>
          </div><!-- end /.info-footer -->
        </div><!-- end /.col-md-3 -->

        <div class="col-md-6 col-md-offset-3 col-sm-6 flex">
          <div class="footer-menu">
            <h4 class="footer-widget-title text--white">The plateform</h4>
            <ul>
              <li><a routerLink="/operation">Operation</a></li>
              <li><a routerLink="/verify">Verify your YTIcon</a></li>
              <li><a routerLink="/contact">Contact us</a></li>
              <li><a></a></li>
            </ul>
          </div><!-- end /.footer-menu -->

          <div class="footer-menu">
            <h4 class="footer-widget-title text--white">Help and FAQs</h4>
            <ul>
              <li><a routerLink="/faq">FAQ</a></li>
              <li><a routerLink="/privacypolicy">Privacy policy</a></li>
              <li><a routerLink="/legal">Legal & Rights</a></li>
              <li><a routerLink="/termsofservice" >Terms of service</a></li>
            </ul>
          </div><!-- end /.footer-menu -->
        </div><!-- end /.col-md-5 -->

        <div class="col-md-6 col-md-offset-3 sol-sm-6 hidden-resp">
          <ul class="info-contact">
            <li>
              <span class="lnr lnr-envelope info-icon"></span>
              <span class="info">contact@yticons.co</span>
            </li>
          </ul>
          <div class="social social--color--filled">
            <ul>
              <li><a href="https://www.facebook.com/YTIcons-155634891802441/" (click)='socialEvent("Facebook")' target="_blank"><span class="fab fa-facebook-f"></span></a></li>
              <li><a href="https://twitter.com/YT_Icons" (click)='socialEvent("Twitter")' target="_blank"><span class="fab fa-twitter"></span></a></li>
              <li><a href="https://discord.gg/zFEwyan" (click)='socialEvent("Discord")' target="_blank"><span class="fab fa-discord"></span></a></li>
            </ul>
          </div>
        </div>

      </div><!-- end /.row -->
    </div><!-- end /.container -->
  </div><!-- end /.footer-big -->

  <div class="mini-footer">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="copyright-text">
            <p>&copy; 2018 <a routerLink="#">YTIcons</a>. All rights reserved. Created by <a target="_blank" href="http://lachille.org">LaChilleCrypto</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
