
.term_modules .term .paragraph-container {
  padding: 30px 30px 0px 30px;
}

.term_modules .term p {
  padding: 0;
}

li {
  font-size: 16px;
}

.section--padding2 {
  padding: 70px 0px;
}

.row-terminal {
  margin-bottom: 15px;
  line-height: 30px;
}

.caret-terminal {
  color:#939493;
  font-weight: 500;
  margin-right: 15px;
}

.bold {
  font-weight: 500;
}
