
<section class="breadcrumb-area">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="breadcrumb">
          <ul>
            <li><a routerLink="/home">Home</a></li>
            <li class="active"><a routerLink="/live">Live</a></li>
          </ul>
        </div>
        <h1 class="page-title">Live</h1>
      </div><!-- end /.col-md-12 -->
    </div><!-- end /.row -->
  </div><!-- end /.container -->
</section>

<section class="job_area section--padding2">
  <div class="container">
    <div class="row">
      <div class="col-md-12">

        <div class="job_detail_module">
          <div class="job__content">
            <div class="spinner">
              <div class="rect1"></div>
              <div class="rect2"></div>
              <div class="rect3"></div>
              <div class="rect4"></div>
              <div class="rect5"></div>
            </div>
            <div *ngFor="let tr of transactions" class="row-terminal">
              <span class="caret-terminal">YTIcons></span>
              <a class="bold" [routerLink]="'/account/' + tr?.to?.wallet">{{tr?.to?.username ? tr?.to?.username : 'Anonymous'}}</a> bought
              <a data-toggle="modal" [attr.data-target]="'#modal-' + tr?.card?.id" style="color: #705fd2;font-weight: 500;">{{tr?.card?.name}}</a>
              from
              <a class="bold" [routerLink]="'/account/' + tr?.from?.wallet">{{tr?.from?.username ? tr?.from?.username : 'Anonymous'}}</a> at
              <span>{{tr?.price | round}} ETH</span><span> - {{tr?.createdAt | timeBetweenLive}} ago</span>
              <app-card-modal *ngIf="tr?.card" [card]="tr?.card"></app-card-modal>
            </div>
          </div><!-- end /.job_detail_module -->
        </div><!-- end /.col-md-6 -->
      </div><!-- end /.row -->
    </div><!-- end /.container -->
  </div>
</section>
