.section-title {
  padding: 50px 0;
}

.contact_form--wrapper {
  padding: 0px 0 40px;
}

.form-control {
  border-radius: 2px;
  -webkit-appearance: none;
  height: 48px;
  box-shadow: none;
  -webkit-box-shadow: none;
  border: 1px solid #e7e7e7;
  padding: 0 20px;
  font-size: 16px;
  color: #000000;
}

.hint-text {
  color: #757575 !important;
}

.form-group {
  font-size: 16px;
}

.form-control[ng-reflect-model="Subject"] {
  color: #757575;
}

.contact_form input {
  color: #000000 !important;
}
