<!--================================
    START BREADCRUMB AREA
=================================-->
<section class="breadcrumb-area">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="breadcrumb">
          <ul>
            <li><a routerLink="/home">Home</a></li>
            <li><a routerLink="/contact">Contact us</a></li>
          </ul>
        </div>
        <h1 class="page-title">Contact us</h1>
      </div><!-- end /.col-md-12 -->
    </div><!-- end /.row -->
  </div><!-- end /.container -->
</section>
<!--================================
    END BREADCRUMB AREA
=================================-->


<!--================================
        START AFFILIATE AREA
    =================================-->
<section class="contact-area section--padding">
  <div class="container">
    <div class="row">
      <div class="col-md-12">

        <div class="row">
          <div class="col-md-12">
            <div class="contact_form cardify">
              <div class="section-title">
                <h1>Is there anything we can help <span class="highlighted">you</span> with ?</h1>
                <p>To get a faster support related to your account, please provide your Ethereum wallet address in your message.</p>
              </div>

              <div class="row">
                <div class="col-md-8 col-md-offset-2">
                  <div class="contact_form--wrapper">
                    <form action="#">
                      <div class="row">
                        <div class="col-md-6">
                          <div class="form-group">
                            <input type="text"  placeholder="Name">
                          </div>
                        </div>

                        <div class="col-md-6">
                          <div class="form-group">
                            <input type="text" placeholder="Email">
                          </div>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-md-12">
                          <div class="form-group">
                            <select class="form-control" id="subject">
                              <option hidden>Subject</option>
                              <option>2</option>
                              <option>3</option>
                              <option>4</option>
                              <option>5</option>
                            </select>
                          </div>
                        </div>

                      </div>

                      <textarea cols="30" rows="10" placeholder="Your text here"></textarea>

                      <div class="sub_btn">
                        <button type="button" class="btn btn--round btn--default">Send</button>
                      </div>
                    </form>
                  </div>
                </div><!-- end /.col-md-8 -->
              </div><!-- end /.row -->
            </div><!-- end /.contact_form -->
          </div><!-- end /.col-md-12 -->
        </div><!-- end /.row -->
      </div><!-- end /.col-md-12 -->
    </div><!-- end /.row -->
  </div><!-- end /.container -->
</section>
<!--================================
    END AFFILIATE AREA
=================================-->
