<!--================================
    START BREADCRUMB AREA
=================================-->
<section class="breadcrumb-area">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="breadcrumb">
          <ul>
            <li><a routerLink="/home">Home</a></li>
            <li class="active"><a routerLink="/contact">Contact us</a></li>
          </ul>
        </div>
        <h1 class="page-title">Contact us</h1>
      </div><!-- end /.col-md-12 -->
    </div><!-- end /.row -->
  </div><!-- end /.container -->
</section>
<!--================================
    END BREADCRUMB AREA
=================================-->


<!--================================
        START AFFILIATE AREA
    =================================-->
<section class="contact-area section--padding">
  <div class="container">
    <div class="row">
      <div class="col-md-12">

        <div class="row">
          <div class="col-md-12">
            <div class="contact_form cardify">
              <div class="section-title">
                <h1>Is there anything we can help <span class="highlighted">you</span> with ?</h1>
                <p>To get a faster support related to your account, please provide your Ethereum wallet address in your
                  message.</p>
              </div>

              <div class="row">
                <div class="col-md-8 col-md-offset-2">
                  <div class="contact_form--wrapper">
                    <form action="#">
                      <div class="row">
                        <div class="col-md-6">
                          <div class="form-group">
                            <input #namecheck="ngModel" [(ngModel)]="form.name" name="name" type="text" placeholder="Name" required>

                            <div *ngIf="namecheck.invalid && (namecheck.dirty || namecheck.touched)" class="alert alert-danger">

                              <div *ngIf="namecheck.errors.required">
                                Name is required.
                              </div>

                            </div>

                          </div>
                        </div>

                        <div class="col-md-6">
                          <div class="form-group">
                            <input #emailCheck="ngModel" [(ngModel)]="form.email" name="email" type="email" placeholder="Email" required emailValidatorDirective>

                            <div *ngIf="emailCheck.invalid && (emailCheck.dirty || emailCheck.touched)" class="alert alert-danger">

                              <div *ngIf="emailCheck.errors.required">
                                Email is required.
                              </div>
                              <div *ngIf="!emailCheck.errors.required && emailCheck.errors.emailvalidator">
                                Email is not valid.
                              </div>

                            </div>

                          </div>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-md-12">
                          <div class="form-group">
                            <select [(ngModel)]="form.subject" name="subject" class="form-control" id="subject" required>
                              <option selected>Subject</option>
                              <option>Informations</option>
                              <option>Help</option>
                              <option>Bounty program</option>
                              <option>Verify your card</option>
                            </select>
                          </div>
                        </div>

                      </div>

                      <div class="form-group">
                        <textarea  [maxLength]="500" [(ngModel)]="form.message" name="text" cols="30" rows="10" placeholder="Your text here" required></textarea>
                      </div>

                      <re-captcha (resolved)="resolved($event)" siteKey="{{recaptchaPublic}}"></re-captcha>

                      <div class="sub_btn">
                        <button (click)="send()" [ladda]="loadingChannel" [disabled]="isRobot" type="button" class="btn btn--round btn--default">Send</button>
                      </div>
                    </form>
                  </div>
                </div><!-- end /.col-md-8 -->
              </div><!-- end /.row -->
            </div><!-- end /.contact_form -->
          </div><!-- end /.col-md-12 -->
        </div><!-- end /.row -->
      </div><!-- end /.col-md-12 -->
    </div><!-- end /.row -->
  </div><!-- end /.container -->
</section>
<!--================================
    END AFFILIATE AREA
=================================-->
