<div class="inline">
  <div class="has_dropdown">
    <button class="btn btn--light btn--bordered btn-md currency-button">{{currency}}</button>
    <div class="dropdown dropdown—currency">
      <ul>
        <li><a (click)="setCurrency('ETH')"><i class="fab fa-ethereum"></i> ETH</a></li>
        <li><a (click)="setCurrency('USD')"><i class="fas fa-dollar-sign"></i> USD</a></li>
        <li><a (click)="setCurrency('EUR')"><i class="fas fa-euro-sign"></i> EUR</a></li>
      </ul>
    </div>
  </div>
</div>
