.page-title a {
  color: white;
  cursor: pointer;
}

label {
  display: block;
}

.address {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.page-title {
  display: flex;
  justify-content: space-between;
}

label span, .ladda-label {
  font-weight: 700!important;
  color: #ffffff!important;
}
