<section class="breadcrumb-area">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="breadcrumb">
          <ul>
            <li><a routerLink="/home">Home</a></li>
            <li class="active"><a routerLink="/account">Profile</a></li>
          </ul>
        </div>
        <h1 *ngIf="address" class="page-title"><a class="address" target="_blank"
                                                  href="https://etherscan.io/address/{{address}}">{{address}}</a>
        </h1>
        <h1 *ngIf="!address" class="page-title">
          <a class="address" target="_blank" href="https://etherscan.io/address/{{currentUser?.wallet}}">{{currentUser?.wallet}}</a>
          <a *ngIf="!isSyncronising" (click)="refreshWallet()">Synchronize MetaMask wallet<i [ngClass]="['fas', 'fa-sync', 'syncronise-wallet']" aria-hidden="true"></i></a>
          <a *ngIf="isSyncronising" (click)="refreshWallet()">Synchronize MetaMask wallet<i [ngClass]="['fas', 'fa-sync', 'syncronise-wallet', 'fa-spin']" aria-hidden="true"></i></a></h1>
      </div>
    </div>
  </div>
</section>

<div class="empty-market" *ngIf="isLoading == true">
  <div class="spinner-rect" style="margin: 100px auto"></div>
</div>
<section *ngIf="isLoading == false" class="author-profile-area">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-6">
        <aside class="sidebar sidebar_author">
          <div class="author-card sidebar-card">
            <div class="author-infos">
              <div class="author_avatar">
                <div class="profile-avatar" *ngIf="!address"
                     [ngStyle]="{'background-image': 'url(' + ms.baseUrl + currentUser?.avatar + ')'}"></div>
                <div class="profile-avatar" *ngIf="address && userProfile"
                     [ngStyle]="{'background-image': 'url(' + ms.baseUrl + userProfile?.avatar + ')'}"></div>
              </div>
              <label *ngIf="!address" for="cover_photo" class="upload_btn">
                <input style="display: none" (change)="refreshAvatar($event)" type="file" type="file"
                       id="cover_photo">
                <span [ladda]="loadingChannel" class="btn btn--sm btn--round" aria-hidden="true">Change avatar</span>
              </label>
              <span *ngIf="!address" data-toggle="modal" data-target="#editPassword" class="btn btn--sm btn--round"
                    aria-hidden="true">Edit password</span>

              <div class="author">
                <h4 *ngIf="address">{{userProfile?.username ? userProfile.username : 'Anonymous'}}</h4>
                <h4 *ngIf="!address">{{currentUser?.username}}</h4>
                <p *ngIf="address">Signed Up: {{userProfile ? (userProfile.createdAt | date:'MM/dd/yyyy') :
                  'Unknown'}}</p>
                <p *ngIf="!address">Signed Up: {{currentUser?.createdAt | date:'MM/dd/yyyy'}}</p>

              </div>
            </div>
          </div><!-- end /.author-card -->

        </aside>
      </div><!-- end /.sidebar -->
      <div class="col-md-4 col-sm-6">
        <div class="author-info mcolorbg4">
          <p>Total Items</p>
          <h3>{{cardNumber}}</h3>
        </div>
      </div><!-- end /.col-md-4 -->
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="row">
        </div><!-- end /.row -->


        <div class="row">
          <!-- start .col-md-4 -->
          <div *ngFor="let card of cardsUser; let i = index" class="col-md-4 col-lg-3 col-sm-6">
            <card *ngIf="card" [card]="card"></card>
          </div><!-- end /.col-md-4 -->

        </div><!-- end /.row -->
      </div><!-- end /.col-md-8 -->

    </div><!-- end /.row -->
  </div><!-- end /.container -->
</section>
<!--================================
    END AUTHOR AREA
=================================-->

<div class="modal fade" id="editPassword" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-md" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
          aria-hidden="true">&times;</span></button>
        <h3 class="modal-title" id="">Edit your password</h3>
      </div>

      <div class="modal-body">
        <form action="#">
        <div class="login--form">

          <div class="form-group">
            <label for="passworda">Password</label>
            <input #passworda="ngModel" [(ngModel)]="form.password" name="passworda" id="passworda" type="password"
                   class="text_field"
                   placeholder="Enter your password..." reverse="true" required>

            <div *ngIf="passworda.invalid && (passworda.dirty || passworda.touched)" class="alert alert-danger">

              <div *ngIf="passworda.errors.required">
                Password is required.
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="newPassword">New Password</label>
            <input #newPassword="ngModel" [(ngModel)]="form.newPassword"
                   name="newPassword" id="newPassword" type="password" class="text_field"
                   placeholder="New password" minlength="6" maxlength="64" required>

            <div *ngIf="newPassword.invalid && (newPassword.dirty || newPassword.touched)"
                 class="alert alert-danger">

              <div *ngIf="newPassword.errors.required">
                New password is required.
              </div>
              <div *ngIf="newPassword.errors.minlength">
                Password must be at least 6 characters
              </div>
              <div *ngIf="newPassword.errors.maxlength">
                Password must be less than 64 characters
              </div>
              <div *ngIf="!newPassword.errors.required">
                Password must match
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="con_pass">Confirm New Password</label>
            <input #confirmPassword="ngModel" equalValidatorDirective="newPassword" [(ngModel)]="form.conPassword"
                   name="confirmPassword" id="con_pass" type="password" class="text_field"
                   placeholder="Confirm password" required>

            <div *ngIf="confirmPassword.invalid && (confirmPassword.dirty || confirmPassword.touched)"
                 class="alert alert-danger">

              <div *ngIf="confirmPassword.errors.required">
                Password must match
              </div>
              <div *ngIf="!confirmPassword.errors.required">
                Password must match
              </div>

            </div>
          </div>

        </div>
        </form>
      </div><!-- end /.modal-body -->

      <div class="modal-footer">
        <button (click)="editPassword()" data-dismiss="modal" class="btn btn--round btn--default" [ladda]="isRequesting">Submit</button>
        <button class="btn btn--round modal_close" data-dismiss="modal" #newPasswordCloseButton>Close</button>
      </div>
    </div>
  </div>
</div>

