<!--================================
    START BREADCRUMB AREA
=================================-->
<section class="breadcrumb-area">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="breadcrumb">
          <ul>
            <li><a href="index.html">Home</a></li>
            <li class="active"><a href="#">Favorites</a></li>
          </ul>
        </div>
        <h1 class="page-title">{{currentUser.wallet}}</h1>

      </div><!-- end /.col-md-12 -->
    </div><!-- end /.row -->
  </div><!-- end /.container -->
</section>
<!--================================
    END BREADCRUMB AREA
=================================-->

<!--================================
    START AUTHOR AREA
=================================-->
<section class="author-profile-area">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <aside class="sidebar sidebar_author">
          <div class="author-card sidebar-card">
            <div class="author-infos">

              <div class="author">
                <h4>{{currentUser.username}}</h4>
                <p>Signed Up: {{currentUser.createdAt | date:'MM / dd / yyyy' }}</p>
              </div><!-- end /.author -->
            </div><!-- end /.author-infos -->


          </div><!-- end /.author-card -->

        </aside>
      </div><!-- end /.sidebar -->

      <div class="col-md-8">
        <div class="row">
          <div class="col-md-4 col-sm-4">
            <div class="author-info mcolorbg4">
              <p>Total Items</p>
              <h3>{{cardNumber}}</h3>
            </div>
          </div><!-- end /.col-md-4 -->
        </div><!-- end /.row -->


        <div class="row">
          <!-- start .col-md-4 -->
          <div *ngFor="let card of cardsUser; let i = index" class="col-md-6 col-sm-6">
            <card [card]="card"></card>
          </div><!-- end /.col-md-4 -->

        </div><!-- end /.row -->
      </div><!-- end /.col-md-8 -->

    </div><!-- end /.row -->
  </div><!-- end /.container -->
</section>
<!--================================
    END AUTHOR AREA
=================================-->
