.cards-options {
  display: flex;
  justify-content: space-around;
}

.image-title-container {
  display: flex;
  justify-content: space-around;
  border-right: 1px solid #ececec;
}

.right-side {
  display: flex;
  flex-direction: column;
  vertical-align: middle;
}

.buttons-modify {
  display: flex;
  justify-content: space-around;
}

input[type="checkbox"] {
  -webkit-appearance: checkbox !important;
  -moz-appearance: checkbox !important;
  -ms-appearance: checkbox !important;
  -o-appearance: checkbox !important;
  appearance: checkbox !important;
}







.shortcode_module_title {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: none;
  border-bottom: 1px solid #ececec;
  margin: 0;
  cursor: pointer;
}

.cards-container {
  height: 500px;
  overflow-y: scroll;
  margin-left: 10px;
}

p {
  margin: 0;
}

.cardUI {
  margin-top: 10px;
}

.card {
  height: 90px;
  width: 60px;
  background-size: cover;
}

.card-details-container {
  height: 600px;
  overflow-y: scroll;
}

.details-container {
  width: 100%;
}

@media (max-width: 480px) and (min-width: 320px) {
  .pagination-area .page-numbers {
    min-width: 20px;
  }
}
