/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: SFBold;
  src: url(../fonts/SanFranciscoFont-master/SanFranciscoText-Bold.otf);
}
@font-face {
  font-family: SFSemiBold;
  src: url(../fonts/SanFranciscoFont-master/SanFranciscoText-SemiBold.otf);
}

@font-face {
  font-family: SF;
  src: url(../fonts/SanFranciscoFont-master/SanFranciscoText-Regular.otf);
}
@font-face {
  font-family: SFLight;
  src: url(../fonts/SanFranciscoFont-master/SanFranciscoText-Light.otf);
}

@font-face {
  font-family: SFMedium;
  src: url(../fonts/SanFranciscoFont-master/SanFranciscoText-Medium.otf);
}

.user__status {
  position: relative;
}
.star_user {
  position: absolute;
  top: 0;
  right: calc(50% - 15px);
  left: calc(50% - 18px);
}



.leaderboard-profile-avatar {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
}

.first-leaderboard .leaderboard-profile-avatar, .second-leaderboard .leaderboard-profile-avatar,.third-leaderboard .leaderboard-profile-avatar {
  width: 76px;
  height: 76px;
}

a {
  cursor: pointer;
}
.dropdown-backdrop {
  display: none!important;
}

.dropdown-menu li {
  cursor: pointer;
}

.dropdown-trigger {
  white-space: nowrap;
  max-width: 11.5em;
  overflow: hidden;
  text-overflow: ellipsis;
}
#category {
  max-width: 14em;
}
.filter-bar .filter--select {
  width: 185px;
}
/** SIGNUP **/

.profile-avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
}

.signup-avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  float: left;
}
/*** FAQ ***/

.section-faq-padding {
  padding-top: 50px;
  padding-bottom: 50px;
}

/*** CARD ***/

.card.product {
  -moz-window-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.card {
  font-family: SF, sans-serif;
  width: 251px;
  height: 379px;
  background: url('../images/images/cards_background/bronze.png');
  background-size: contain;
  color: white;
  position: relative;
  margin: 0;
  margin-right: auto;
  margin-left: auto;
}

.card .product__thumbnail {
  position: initial!important;
}

.card-origin {
  background: url('../images/images/cards_background/origin.png');
  background-size: contain;
}

.card-origin .card-title h4 {
  color: #201f1c!important;
}

.card-bronze {
  background: url('../images/images/cards_background/bronze.png');
  background-size: contain;
}

.card-silver {
  background: url('../images/images/cards_background/silver.png');
  background-size: contain;
}

.card-gold {
  background: url('../images/images/cards_background/gold.png');
  background-size: contain;
}

.card-250k {
  background: url('../images/images/cards_background/speciale_250k.png');
  background-size: contain;
}

.card-500k {
  background: url('../images/images/cards_background/speciale_500k.png');
  background-size: contain;
}

.card-1m {
  background: url('../images/images/cards_background/speciale_1M.png');
  background-size: contain;
}

.card-10m {
  background: url('../images/images/cards_background/speciale_10M.png');
  background-size: contain;
}

.label-vids {
  margin-right: 4px;
}

.label-view {
  margin-right: 2px;
}

.value-folw, .value-card {
  margin-right: 4px;
}
.card .label-footer {
  font-family: SFLight, sans-serif;
}

.card .value-footer {
  font-size: 14px;
  font-family: SFMedium, sans-serif;
}

.card .content-img {
  background: url('../images/images/prime.jpg');
  background-size: cover;
  border: 2px solid white;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
}


.card .card-title {
  height: 100px;
}

.card .card-title h4{
  font-family: SFSemiBold, sans-serif;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 33px;
  text-transform: uppercase;
  font-size: 20px;
}

.card .card-img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card .footer-card {
  margin: 29px 0px;
  padding: 3px 20px;
  background: white;
  font-size: 14px;
}

.card .footer-card .card-line {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  color: #201f1c;
}

.table thead > tr > th {
  padding: 12px 0 10px 28px !important;
}

.table > thead > tr > th {
  border-bottom: 1px solid #ddd !important;
}
