<div *ngIf="isOpen" style="width: 200px">
  <div class="row">
    <div class="col-md-offset-11 cold-md-1" (click)="isOpen = !isOpen">
      <i class="fas fa-chevron-down"></i>
    </div>
  </div>
  <div class="list-tx">
    <div *ngFor="let tx of txList" class="row">
      <a class="col-md-9 tx-link" target="_blank" href="https://ropsten.etherscan.io/tx/{{tx}}">
        {{tx}}
      </a>
      <div class="col-md-3 pull-right">
        <i class="fas fa-times"></i>
      </div>
    </div>
  </div>
</div>

<div *ngIf="!isOpen" class="tx-menu-close" (click)="isOpen = !isOpen">
  <div class="tx-menu-item">
    <i class="fas fa-exchange-alt" style="margin-right: 4px;"></i>
    <span>Transactions</span>
  </div>
</div>
