<div class="transactions-live-container" *ngIf="txHashList.length">
  <div class="transactions-live-title" (click)="isOpen = !isOpen">
    <i class="fas fa-paper-plane title-header"></i>
    Transactions
  </div>
  <div *ngIf="isOpen">
    <div *ngFor="let tx of txHashList" class="transaction-row">
      <div [ngClass]="{'container-status':true,'circle-orange': !txList[tx].isFinished ? true : false,'circle-green': txList[tx].isFinished && txList[tx].success ? true : false,
          'circle-red':txList[tx].isFinished && !txList[tx].success ? true : false}">
        <i class="fas fa-circle"></i>
      </div>
      <div class="container-hash">
        <a target="_blank" href="https://ropsten.etherscan.io/tx/{{tx}}">{{tx}}</a>
      </div>
      <div class="container-remove">
        <a *ngIf="txList[tx].isFinished" (click)="txService.removeTx(tx)">
          <i class="fas fa-minus"></i>
        </a>
      </div>
      <div class="container-share">
        <a target="_blank" href="https://ropsten.etherscan.io/tx/{{tx}}"><i class="fas fa-link"></i></a>
      </div>
    </div>
  </div>
</div>
