
<div class="withdraw_module withdraw_history">
  <div class="table-responsive">
    <table class="table withdraw__table">
      <thead>
      <tr>
        <th>From</th>
        <th>Price</th>
        <th>Date</th>
      </tr>
      </thead>

      <tbody>
      <tr *ngFor="let tx of transactions">
        <td><a (click)="redirectToUser(tx)" target="_blank" data-dismiss="modal">{{tx?.to?.username == '' ? 'Anonymous' : tx?.to?.username}}</a></td>
        <td class="bold">{{tx.price.toFixed(4)}}</td>
        <td>{{tx.createdAt | date: 'MMM d, y, HH:mm'}}</td>
      </tr>

      <tr *ngIf="transactions.length == 0">
        <td>No transaction yet.</td>
      </tr>

      </tbody>
    </table>
  </div>
</div>
