
<div *ngIf="showPopup">
  <div class="col-md-12 popup-error-metamask">
    <div class="actions-container">
      <span class="popup-text" *ngIf="!badNetwork">
        You need to install <a routerLink="/faq" [queryParams]="{collapse: '1'}">Metamask</a> to use the full features of this website.
        <a routerLink="/faq" [queryParams]="{collapse: '1'}"><img src="../assets/images/metamask.png" width="24" height="24" style="margin-left: 6px"></a>
      </span>
      <span class="popup-text" *ngIf="badNetwork">
        You are not connected to the Ropsten network on <a routerLink="/faq" [queryParams]="{collapse: '1'}">MetaMask</a>.
        <a routerLink="/faq" [queryParams]="{collapse: '1'}"><img src="../assets/images/metamask.png" width="24" height="24" style="margin-left: 6px"></a>
      </span>
      <!--<button class="btn btn&#45;&#45;md btn&#45;&#45;round col-md-3"(click)="showPopup = !showPopup">Got it!</button>-->
    </div>
  </div>
</div>
<app-menu [showPopup]="showPopup"></app-menu>

<router-outlet></router-outlet>

<transactions-live></transactions-live>

<app-footer></app-footer>
