<!--<div *ngIf="showPopup">
  <div class="col-md-12 popup-error-metamask">
    <div class="actions-container">
      <span class="popup-text">
        You need to install <a routerLink="/faq">Metamask</a> to use the full features of this website.
      </span>
      <button class="btn btn--md btn--round col-md-3"(click)="showPopup = !showPopup">Got it!</button>
    </div>
    <img src="../assets/images/metamask.png" width="70" height="70">
  </div>
</div> -->
<app-menu></app-menu>

<router-outlet></router-outlet>

<app-footer></app-footer>
