<section class="breadcrumb-area">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="breadcrumb">
          <ul>
            <li><a routerLink="/home">Home</a></li>
            <li class="active"><a routerLink="/verify">YTIcon verification</a></li>
          </ul>
        </div>
        <h1 class="page-title">Verify your YTIcon</h1>
      </div><!-- end /.col-md-12 -->
    </div><!-- end /.row -->
  </div><!-- end /.container -->
</section>

<section class="verify-area section--padding2">
  <div class="container">
    <div class="row">
      <div class="col-md-12">

        <div class="verify-detail-module">
          <div class="verify-content">
            <p>We obviously do consider that you have the right to get royalties, which is why we strive in getting partnerships before any related YTIcon’s release.
              Nevertheless, we try to provide our community a playable game so it is still possible that your YTIcon has not been verified yet but is currently available on our platform :
              in this specific case and as long as the process of getting a partnership lasted, 3% of every transaction on your YTIcon has been sent to an address created for charities’ purpose.
            In verifying your YTIcon, you will be able to give us an address of your choice to get your percentages of all upcoming transactions and we will mark your YTIcon as officially verified. <br><br>
            <br>You want to verify your YTIcon or actually have your YTIcon created and released on our platform ? <br> Please send us an email at <b>dev@yticons.co</b>.</p>
          </div>
        </div><!-- end /.verify-detail_module -->

      </div><!-- end /.col-md-12 -->
    </div><!-- end /.row -->
  </div><!-- end /.container -->
</section>
<!--================================
    END JOB AREA
=================================-->
