<div class="profile_menu inline has_dropdown" *ngIf="isAuthenticated()">
  <div class="author__avatar">
    <!--<img src="assets/images/usr_avatar.png" alt="user avatar">-->
    <img [attr.src]="baseUrl + currentUser.avatar" alt="user avatar" class="avatar">
  </div>
  <div class="autor__info">
    <p class="name">
      {{currentUser.username}}
    </p>
    <!--<p class="ammount">$20.45</p>-->
  </div>

  <div class="dropdown dropdown--author">
    <ul>
      <li><a routerLink="/account"><span class="lnr lnr-user"></span>Profile</a></li>
      <li><a (click)="logout()"><span class="lnr lnr-exit"></span>Logout</a></li>
    </ul>
  </div>
</div>
