<!--================================
    START BREADCRUMB AREA
=================================-->
<section class="breadcrumb-area ">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="breadcrumb">
          <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="index.html">FAQs</a></li>
            <li class="active"><a href="#">For Authors</a></li>
          </ul>
        </div>
        <h1 class="page-title">Authors FAQs</h1>
      </div><!-- end /.col-md-12 -->
    </div><!-- end /.row -->
  </div><!-- end /.container -->
</section>
<!--================================
    END BREADCRUMB AREA
=================================-->

<!--================================
        START FAQ AREA
=================================-->
<section class="faq_area section--padding">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="cardify faq_module">
          <div class="faq-title">
            <span class="lnr lnr-file-add"></span><h4>For Authors (45)</h4>
          </div>

          <div class="faqs">
            <div class="panel-group accordion" role="tablist" id="accordion">
              <div class="panel accordion__single active">
                <div class="single_acco_title">
                  <h4>
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse1" class="collapsed" aria-expanded="false">
                      <span>How to write the changelog for theme updates?</span> <i class="lnr lnr-chevron-down indicator"></i></a>
                  </h4>
                </div>

                <div id="collapse1" role="tabpanel" class="panel-collapse collapse" aria-expanded="false">
                  <div class="panel-body">
                    <p>Nunc placerat mi id nisi interdum mollis. Praesent pharetra, justo ut sceleris que the mattis, leo quam aliquet congue placerat mi id nisi interdum mollis.
                      Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher.
                      Nunc placerat mi id nisi interdum mollis. Praesent pharetra, justo ut sceleris que the mattis,
                      leo quam aliquet congue placerat mi id nisi interdum mollis. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher .</p>
                  </div>
                </div>
              </div><!-- end /.accordion__single -->

              <div class="panel accordion__single">
                <div class="single_acco_title">
                  <h4>
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse2" class="collapsed" aria-expanded="false">
                      <span>Do you recommend using a download manager software?</span> <i class="lnr lnr-chevron-down indicator"></i></a>
                  </h4>
                </div>

                <div id="collapse2" role="tabpanel" class="panel-collapse collapse" aria-expanded="false">
                  <div class="panel-body">
                    <p>Nunc placerat mi id nisi interdum mollis. Praesent pharetra, justo ut sceleris que the mattis, leo quam aliquet congue placerat mi id nisi interdum mollis.
                      Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher.
                      Nunc placerat mi id nisi interdum mollis. Praesent pharetra, justo ut sceleris que the mattis,
                      leo quam aliquet congue placerat mi id nisi interdum mollis. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher .</p>
                  </div>
                </div>
              </div><!-- end /.accordion__single -->

              <div class="panel accordion__single">
                <div class="single_acco_title">
                  <h4>
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse3" class="collapsed" aria-expanded="false">
                      <span>Why do I need to login to purchase an item on MartPlace?</span> <i class="lnr lnr-chevron-down indicator"></i></a>
                  </h4>
                </div>

                <div id="collapse3" role="tabpanel" class="panel-collapse collapse" aria-expanded="false">
                  <div class="panel-body">
                    <p>Nunc placerat mi id nisi interdum mollis. Praesent pharetra, justo ut sceleris que the mattis, leo quam aliquet congue placerat mi id nisi interdum mollis.
                      Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher.
                      Nunc placerat mi id nisi interdum mollis. Praesent pharetra, justo ut sceleris que the mattis,
                      leo quam aliquet congue placerat mi id nisi interdum mollis. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher .</p>
                  </div>
                </div>
              </div><!-- end /.accordion__single -->

              <div class="panel accordion__single">
                <div class="single_acco_title">
                  <h4>
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse4" class="collapsed" aria-expanded="false">
                      <span>How to create an account on MartPlace?</span> <i class="lnr lnr-chevron-down indicator"></i></a>
                  </h4>
                </div>

                <div id="collapse4" role="tabpanel" class="panel-collapse collapse" aria-expanded="false">
                  <div class="panel-body">
                    <p>Nunc placerat mi id nisi interdum mollis. Praesent pharetra, justo ut sceleris que the mattis, leo quam aliquet congue placerat mi id nisi interdum mollis.
                      Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher.
                      Nunc placerat mi id nisi interdum mollis. Praesent pharetra, justo ut sceleris que the mattis,
                      leo quam aliquet congue placerat mi id nisi interdum mollis. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher .</p>
                  </div>
                </div>
              </div><!-- end /.accordion__single -->

              <div class="panel accordion__single">
                <div class="single_acco_title">
                  <h4>
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse5" class="collapsed" aria-expanded="false">
                      <span>Do you recommend using a download manager software?</span> <i class="lnr lnr-chevron-down indicator"></i></a>
                  </h4>
                </div>

                <div id="collapse5" role="tabpanel" class="panel-collapse collapse" aria-expanded="false">
                  <div class="panel-body">
                    <p>Nunc placerat mi id nisi interdum mollis. Praesent pharetra, justo ut sceleris que the mattis, leo quam aliquet congue placerat mi id nisi interdum mollis.
                      Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher.
                      Nunc placerat mi id nisi interdum mollis. Praesent pharetra, justo ut sceleris que the mattis,
                      leo quam aliquet congue placerat mi id nisi interdum mollis. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher .</p>
                  </div>
                </div>
              </div><!-- end /.accordion__single -->

              <div class="panel accordion__single">
                <div class="single_acco_title">
                  <h4>
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse6" class="collapsed" aria-expanded="false">
                      <span>How to purchase an item on MartPlace?</span> <i class="lnr lnr-chevron-down indicator"></i></a>
                  </h4>
                </div>

                <div id="collapse6" role="tabpanel" class="panel-collapse collapse" aria-expanded="false">
                  <div class="panel-body">
                    <p>Nunc placerat mi id nisi interdum mollis. Praesent pharetra, justo ut sceleris que the mattis, leo quam aliquet congue placerat mi id nisi interdum mollis.
                      Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher.
                      Nunc placerat mi id nisi interdum mollis. Praesent pharetra, justo ut sceleris que the mattis,
                      leo quam aliquet congue placerat mi id nisi interdum mollis. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher .</p>
                  </div>
                </div>
              </div><!-- end /.accordion__single -->

              <div class="panel accordion__single">
                <div class="single_acco_title">
                  <h4>
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse7" class="collapsed" aria-expanded="false">
                      <span>Why do I need to login to purchase an item on MartPlace?</span> <i class="lnr lnr-chevron-down indicator"></i></a>
                  </h4>
                </div>

                <div id="collapse7" role="tabpanel" class="panel-collapse collapse" aria-expanded="false">
                  <div class="panel-body">
                    <p>Nunc placerat mi id nisi interdum mollis. Praesent pharetra, justo ut sceleris que the mattis, leo quam aliquet congue placerat mi id nisi interdum mollis.
                      Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher.
                      Nunc placerat mi id nisi interdum mollis. Praesent pharetra, justo ut sceleris que the mattis,
                      leo quam aliquet congue placerat mi id nisi interdum mollis. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher .</p>
                  </div>
                </div>
              </div><!-- end /.accordion__single -->

              <div class="panel accordion__single">
                <div class="single_acco_title">
                  <h4>
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse9" class="collapsed" aria-expanded="false">
                      <span>How to write the changelog for theme updates?</span> <i class="lnr lnr-chevron-down indicator"></i></a>
                  </h4>
                </div>

                <div id="collapse9" role="tabpanel" class="panel-collapse collapse" aria-expanded="false">
                  <div class="panel-body">
                    <p>Nunc placerat mi id nisi interdum mollis. Praesent pharetra, justo ut sceleris que the mattis, leo quam aliquet congue placerat mi id nisi interdum mollis.
                      Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher.
                      Nunc placerat mi id nisi interdum mollis. Praesent pharetra, justo ut sceleris que the mattis,
                      leo quam aliquet congue placerat mi id nisi interdum mollis. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher .</p>
                  </div>
                </div>
              </div><!-- end /.accordion__single -->

              <div class="panel accordion__single">
                <div class="single_acco_title">
                  <h4>
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse10" class="collapsed" aria-expanded="false">
                      <span>Do you recommend using a download manager software?</span> <i class="lnr lnr-chevron-down indicator"></i></a>
                  </h4>
                </div>

                <div id="collapse10" role="tabpanel" class="panel-collapse collapse" aria-expanded="false">
                  <div class="panel-body">
                    <p>Nunc placerat mi id nisi interdum mollis. Praesent pharetra, justo ut sceleris que the mattis, leo quam aliquet congue placerat mi id nisi interdum mollis.
                      Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher.
                      Nunc placerat mi id nisi interdum mollis. Praesent pharetra, justo ut sceleris que the mattis,
                      leo quam aliquet congue placerat mi id nisi interdum mollis. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher .</p>
                  </div>
                </div>
              </div><!-- end /.accordion__single -->

              <div class="panel accordion__single">
                <div class="single_acco_title">
                  <h4>
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse11" class="collapsed" aria-expanded="false">
                      <span>Why do I need to login to purchase an item on MartPlace?</span> <i class="lnr lnr-chevron-down indicator"></i></a>
                  </h4>
                </div>

                <div id="collapse11" role="tabpanel" class="panel-collapse collapse" aria-expanded="false">
                  <div class="panel-body">
                    <p>Nunc placerat mi id nisi interdum mollis. Praesent pharetra, justo ut sceleris que the mattis, leo quam aliquet congue placerat mi id nisi interdum mollis.
                      Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher.
                      Nunc placerat mi id nisi interdum mollis. Praesent pharetra, justo ut sceleris que the mattis,
                      leo quam aliquet congue placerat mi id nisi interdum mollis. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher .</p>
                  </div>
                </div>
              </div><!-- end /.accordion__single -->

              <div class="panel accordion__single">
                <div class="single_acco_title">
                  <h4>
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse12" class="collapsed" aria-expanded="false">
                      <span>How to create an account on MartPlace?</span> <i class="lnr lnr-chevron-down indicator"></i></a>
                  </h4>
                </div>

                <div id="collapse12" role="tabpanel" class="panel-collapse collapse" aria-expanded="false">
                  <div class="panel-body">
                    <p>Nunc placerat mi id nisi interdum mollis. Praesent pharetra, justo ut sceleris que the mattis, leo quam aliquet congue placerat mi id nisi interdum mollis.
                      Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher.
                      Nunc placerat mi id nisi interdum mollis. Praesent pharetra, justo ut sceleris que the mattis,
                      leo quam aliquet congue placerat mi id nisi interdum mollis. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher .</p>
                  </div>
                </div>
              </div><!-- end /.accordion__single -->
            </div>
          </div>
        </div><!-- end /.cardify -->
      </div><!-- end /.col-md-8 -->

      <div class="col-md-4">
        <aside class="sidebar faq--sidebar">
          <div class="sidebar-card faq--card">
            <div class="faq-title">
              <span class="lnr lnr-file-add"></span><h4>For Buyers (36)</h4>
            </div>
            <div class="collapsible-content">
              <ul class="card-content">
                <li><a href="#"><span></span>How can I update a theme that is live on MartPlace?</a></li>
                <li><a href="#"><span></span>How to write the changelog for theme updates?</a></li>
                <li><a href="#"><span></span>Why my item has been rejected?</a></li>
                <li><a href="#"><span></span> I’ve submitted an item, how much time will require to be live on?</a></li>
                <li><a href="#"><span></span>What links or texts can I put in the
                  item description, demo and downloadable package?</a></li>
              </ul>
              <a href="#" class="btn btn--round btn--sm btn--faq">View All</a>
            </div><!-- end /.collapsible_content -->
          </div><!-- end /.sidebar-card -->

          <div class="sidebar-card faq--card">
            <div class="faq-title">
              <span class="lnr lnr-file-add"></span><h4>For Community (20)</h4>
            </div>
            <div class="collapsible-content">
              <ul class="card-content">
                <li><a href="#"><span></span>How can I update a theme that is live
                  on MartPlace?</a></li>
                <li><a href="#"><span></span>How to write the changelog for theme
                  updates?</a></li>
                <li><a href="#"><span></span>Why my item has been rejected?</a></li>
                <li><a href="#"><span></span> I’ve submitted an item, how much time will require to be live on?</a></li>
              </ul>
              <a href="#" class="btn btn--round btn--sm btn--faq">View All</a>
            </div><!-- end /.collapsible_content -->
          </div><!-- end /.sidebar-card -->
        </aside><!-- end /.aside -->
      </div><!-- end /.col-md-4 -->
    </div><!-- end /.row -->
  </div><!-- end /.container -->
</section>
<!--================================
        END FAQ AREA
=================================-->
