<!--================================
    START BREADCRUMB AREA
=================================-->
<section class="breadcrumb-area">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="breadcrumb">
          <ul>
            <li><a routerLink="/home">Home</a></li>
            <li><a routerLink="/faq">FAQs</a></li>
          </ul>
        </div>
        <h1 class="page-title">Frequently Asked Questions</h1>
      </div><!-- end /.col-md-12 -->
    </div><!-- end /.row -->
  </div><!-- end /.container -->
</section>
<!--================================
    END BREADCRUMB AREA
=================================-->

<!--================================
        START FAQ AREA
=================================-->
<section class="faq_area section-faq-padding">
  <div class="container">
    <div class="row">

      <div class="col-md-12">
        <div class="cardify faq_module">
          <!--<div class="faq-title">-->
            <!--<span class="lnr lnr-file-add"></span><h4></h4>-->
          <!--</div>-->

          <div class="faqs">
            <div class="panel-group accordion" role="tablist" id="accordion">

              <div class="panel accordion__single active">
                <div class="single_acco_title">
                  <h4>
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse1" class="collapsed" aria-expanded="false">
                      <span>What are the requirements to play YTIcons ?</span> <i class="lnr lnr-chevron-down indicator"></i></a>
                  </h4>
                </div>

                <div id="collapse1" role="tabpanel" class="panel-collapse collapse" aria-expanded="false">
                  <div class="panel-body">
                    <p>To play the game and trade your favorite YouTuber cards, you only need a few things :</p>
                    <ul>
                      <li>- A computer with a browser capable of using MetaMask (e.g. Chrome, Firefox, Opera).</li>
                      <li>- A MetaMask  digital wallet.</li>
                      <li>- And Ether, the Ethereum’s currency to trade YTIcons.</li>
                    </ul>
                    <br/>
                    <p>To learn more about <b>MetaMask</b>, you can refer to the video below.</p>
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/6Gf_kRE4MJU?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                    <p>And to download the extension on your browser, you can directly go on their website through this <b><a href="https://metamask.io" target="_blank">link</a></b>.</p>
                  </div>
                </div>
              </div><!-- end /.accordion__single -->



              <div class="panel accordion__single active">
                <div class="single_acco_title">
                  <h4>
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse2" class="collapsed" aria-expanded="false">
                      <span>What does YTIcons deal with ?</span> <i class="lnr lnr-chevron-down indicator"></i></a>
                  </h4>
                </div>

                <div id="collapse2" role="tabpanel" class="panel-collapse collapse" aria-expanded="false">
                  <div class="panel-body">
                    <p>YTIcons is first of all a game where you can buy, collect and sell your favorite YouTuber cards (YTIcons). We released it for multiple purposes :</p>
                    <ul>
                      <li>- To provide a game to the cryptocurrency’s community.</li>
                      <li>- To donate to a charity carefully chosen : for each YTIcon’s transaction, 3% of the share is directly sent to an address (especially created for this purpose) if the YTIcon has not been verified by the concerned YouTuber; else, it will directly be sent to the YouTuber’s chosen ETH address (which also might be a charity fund).</li>
                      <li>- To invest : every time you buy a YTIcon, its price is re-calculated by our algorithm so as to increase and the YTIcon is immediately put back on sale in the marketplace. If someone else wants to buy it, the buyer will have to pay you more than the amount you originally invested in ETH.</li>
                    </ul>
                  </div>
                </div>
              </div><!-- end /.accordion__single -->

              <div class="panel accordion__single active">
                <div class="single_acco_title">
                  <h4>
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse4" class="collapsed" aria-expanded="false">
                      <span>You said I could collect cards, but also that they would directly be put back in the marketplace... what is the catch ?</span> <i class="lnr lnr-chevron-down indicator"></i></a>
                  </h4>
                </div>

                <div id="collapse4" role="tabpanel" class="panel-collapse collapse" aria-expanded="false">
                  <div class="panel-body">
                    <p>There is not any. You actually collect cards as long as nobody else buys it back — and this is part of the fun.</p>
                    <p>Remember, the price of the YTIcon you previously bought will inevitably increase : if someone purchases it back then you will be able to invest on other cards with your growing wallet to keep playing the game, or even save it for a more valuable YTIcon !</p>
                  </div>
                </div>
              </div><!-- end /.accordion__single -->


              <div class="panel accordion__single active">
                <div class="single_acco_title">
                  <h4>
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse5" class="collapsed" aria-expanded="false">
                      <span>Basically, the more a YouTuber is actually famous, the more valuable his/her YTIcon will be ?</span> <i class="lnr lnr-chevron-down indicator"></i></a>
                  </h4>
                </div>

                <div id="collapse5" role="tabpanel" class="panel-collapse collapse" aria-expanded="false">
                  <div class="panel-body">
                    <p>Not necessarily : most of the cards will have a starting price, which means the YTIcons’ market will only be influenced by what you make of it : if a card gets continuously purchased, its value will increase.</p>
                    <p>Do not worry though, if the price of one of your YTIcons fixed by our algorithm does not suit you, you will still be able to lower its value to sell it even faster !</p>
                  </div>
                </div>
              </div><!-- end /.accordion__single -->


              <div class="panel accordion__single active">
                <div class="single_acco_title">
                  <h4>
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse6" class="collapsed" aria-expanded="false">
                      <span>I am confused about your YTIcons’ pricing policy…</span> <i class="lnr lnr-chevron-down indicator"></i></a>
                  </h4>
                </div>

                <div id="collapse6" role="tabpanel" class="panel-collapse collapse" aria-expanded="false">
                  <div class="panel-body">
                    <p>To put it simply, consider a YTIcon as a stock price : every stock price has its ups and downs.</p>
                    <p>We want our community to be the market’s actors by letting them estimate their YTIcons’ values : a YTIcon’s market price can be influenced by many things such as the YouTuber’s upcoming events or recent news.</p>
                    <p>The only things we are setting for you is the highest and lowest possible prices of the YTIcon to avoid any excess, the rest belongs to you.</p>
                  </div>
                </div>
              </div><!-- end /.accordion__single -->


              <div class="panel accordion__single active">
                <div class="single_acco_title">
                  <h4>
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse7" class="collapsed" aria-expanded="false">
                      <span>What if I do not have enough money to even buy one of the available YTIcons ?</span> <i class="lnr lnr-chevron-down indicator"></i></a>
                  </h4>
                </div>

                <div id="collapse7" role="tabpanel" class="panel-collapse collapse" aria-expanded="false">
                  <div class="panel-body">
                    <p>We currently have few solutions :</p>
                    <ul>
                      <li>- Since we allow owners to lower the prices of their cards, we suggest you to keep being updated on the marketplace to seize various opportunities !</li>
                      <li>- Also, we will continuously release new YTIcons with low starting prices so you can keep playing the game : you can follow us on Twitter (<b><a href="https://twitter.com/YT_Icons" target="_blank">@YT_Icons</a></b>) to keep you updated on every release !</li>
                    </ul>
                  </div>
                </div>
              </div><!-- end /.accordion__single -->


              <div class="panel accordion__single active">
                <div class="single_acco_title">
                  <h4>
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse8" class="collapsed" aria-expanded="false">
                      <span>Will the game only consist of trading YTIcons ?</span> <i class="lnr lnr-chevron-down indicator"></i></a>
                  </h4>
                </div>

                <div id="collapse8" role="tabpanel" class="panel-collapse collapse" aria-expanded="false">
                  <div class="panel-body">
                    <p>The main game will indeed focus on trading YTIcons. Nevertheless, since we definitely want our community to be satisfied, we are already planning to make various events to diversify our content and deliver you an enjoyable game !</p>
                    <p>Do not hesitate to follow us on Twitter (<b><a href="https://twitter.com/YT_Icons" target="_blank">@YT_Icons</a></b>) to keep you updated !</p>
                  </div>
                </div>
              </div><!-- end /.accordion__single -->


            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--================================
        END FAQ AREA
=================================-->
