<!--================================
    START BREADCRUMB AREA
=================================-->
<section class="breadcrumb-area">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="breadcrumb">
          <ul>
            <li><a routerLink="/home">Home</a></li>
            <li><a routerLink="/charity">Charity</a></li>
          </ul>
        </div>
        <h1 class="page-title">Charity</h1>
      </div><!-- end /.col-md-12 -->
    </div><!-- end /.row -->
  </div><!-- end /.container -->
</section>
<!--================================
    END BREADCRUMB AREA
=================================-->


<!--================================
        START JOB AREA
    =================================-->
<section class="job_area section--padding2">
  <div class="container">
    <div class="row">
      <div class="col-md-12">

        <div class="job_detail_module">
          <h3 class="job__title">Job Description</h3>
          <div class="job__content">
            <p>laoreet dolore magna aluam erat volutpaterat consectetuerni euism laoreet dolore magna aliquam erat
              volutpaterat .
              Consectetuer elit, sed diam nonmy dolor sit amet consectetuer adipiscing elit, sed diam nonmy ipsum dolor
              sit amet,
              consectetuer adipiscing elit sed diam nonmy ni euism laor dolore magna aliquam erat volutpat
              consectetuerni euism
              laoreet dolore magna aliqm volutpat onsectetuer amet consectetuer adipiscing elit sed diam nonmy ni euism
              laore dolore
              magna aluam eravolutpaterat consectetuerni</p>
          </div>

          <h3 class="job__title">Responsibilities</h3>
          <div class="job__content">
            <p>laoreet dolore magna aluam erat volutpaterat consectetuerni euism laoreet dolore magna aliquam erat
              volutpaterat . Consectetuer
              elit, sed diam nonmy dolor sit amet consectetuer adipiscing elit, sed diam nonmy ipsum dolor sit amet,
              consectetuer adipiscing
              elit sed diam nonmy.</p>

            <ul class="content_list">
              <li>Build next-generation web applications with a focus on the client side.</li>
              <li>Redesign UI's, implement new UI's, and pick up Java as necessary.</li>
              <li>Explore and design dynamic and compelling consumer experiences.</li>
              <li>Design and build scalable framework for web applications.</li>
            </ul>
          </div>

          <div class="job__content"></div>

        </div><!-- end /.job_detail_module -->
      </div><!-- end /.col-md-6 -->
    </div><!-- end /.row -->
  </div><!-- end /.container -->
</section>
<!--================================
    END JOB AREA
=================================-->
