<div style="perspective:2000px;perspective-origin: bottom"  [ngClass]="{locked: card.isLocked}">
  <div *ngIf="card" [id]="card._id"[ngClass]="[card.isLocked ? 'cardUILocked' : 'cardUI', 'card', card.type ? card.type.css : ''] " [attr.data-toggle]="card.isLocked ? '' : 'modal'" [attr.data-target]="'#modal-' + card.id">

    <div class="card-title">
      <h4>{{card.name}}</h4>
    </div>

    <div class="card-img">
      <div class="content-img" *ngIf="card?.image?.indexOf('http') == -1 && card?.image?.indexOf('data:image') == -1" [ngStyle]="{'background-image': 'url(' + cs.baseUrl + card.image + ')'}"></div>
      <div class="content-img" *ngIf="card?.image?.indexOf('http') > -1 || card?.image?.indexOf('data:image') > -1" [ngStyle]="{'background-image': 'url(' + card.image + ')'}"></div>
    </div>

    <div class="footer-card">
      <div class="card-line">
        <div>
          <span class="label-footer label-vids">VIDS</span>
          <span class="value-footer">{{card.nbVideos | abbreviateNumber}}</span>
        </div>

        <div>
          <span class="value-footer value-folw">{{card.nbSubscribers | abbreviateNumber}}</span>
          <span class="label-footer">FOLW</span>
        </div>
      </div>
      <div class="card-line">
        <div>
          <span class="label-footer label-view">VIEW</span>
          <span class="value-footer">{{card.nbViews | abbreviateNumber}}</span>
        </div>

        <div>
          <span class="value-footer value-card">{{card.createdAt | timeBetween}}</span>
          <span class="label-footer">CARD</span>
        </div>

      </div>
    </div>
  </div>
  <div class="product-purchase">
    <div class="price_love">
      <span id="{{'card-price-' + card.id}}">{{card.price | currency}}</span>
    </div>
    <div class="sell"><p><span class="lnr lnr-cart"></span><span>{{card.nbTransactions}}</span></p></div>
  </div>

</div>
<app-card-modal *ngIf="modal" [card]="card"></app-card-modal>
