<div [ngClass]="['card', card.type.css, 'product']">

  <div class="card-title">
    <h4>{{card.name}}</h4>
  </div>

  <div class="card-img">
    <div class="content-img" [ngStyle]="{'background-image': 'url(' + card.image + ')'}"></div>
  </div>

  <div class="product__thumbnail">
    <div class="prod_btn">
      <a data-toggle="modal" data-target="#modalCard" class="transparent btn--sm btn--round">More Info</a>
      <a href="single-product.html" class="transparent btn--sm btn--round">Buy</a>
    </div>
  </div>

  <div class="footer-card">
    <div class="card-line">
      <div>
        <span class="label-footer label-vids">VIDS</span>
        <span class="value-footer">12</span>
      </div>

      <div>
        <span class="value-footer value-folw">9K</span>
        <span class="label-footer">FOLW</span>
      </div>
    </div>
    <div class="card-line">
      <div>
        <span class="label-footer label-view">VIEW</span>
        <span class="value-footer">100K</span>
      </div>

      <div>
        <span class="value-footer value-card">1W</span>
        <span class="label-footer">CARD</span>
      </div>

    </div>
  </div>
</div>
<div class="product-purchase">
  <div class="price_love">
    <span>{{card.price | currency}}</span>
  </div>
  <div class="sell"><p><span class="lnr lnr-cart"></span><span>16</span></p></div>
</div>

<div class="modal fade rating_modal" id="modalCard" tabindex="-1" role="dialog" aria-labelledby="rating_modal">
  <div class="modal-dialog modal-md" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
          aria-hidden="true">&times;</span></button>
        <h3 class="modal-title" id="rating_modal">{{card.name}}</h3>
        <p>Own by <a href="author.html">AazzTech</a></p>
      </div>

      <div class="modal-body">
        <div class="col-md-5">
          <div [ngClass]="['card', card.type.css, 'product', 'product--card']">

            <div class="card-title">
              <h4>{{card.name}}</h4>
            </div>

            <div class="card-img">
              <div class="content-img" [ngStyle]="{'background-image': 'url(' + card.image + ')'}"></div>
            </div>

            <div class="product__thumbnail">
              <div class="prod_btn">
                <a data-toggle="modal" data-target="#modalCard" class="transparent btn--sm btn--round">More Info</a>
                <a href="single-product.html" class="transparent btn--sm btn--round">Buy</a>
              </div>
            </div>

            <div class="footer-card">
              <div class="card-line">
                <div>
                  <span class="label-footer">VIDS</span>
                  <span class="value-footer">12</span>
                </div>

                <div>
                  <span class="value-footer">9K</span>
                  <span class="label-footer">FOLW</span>
                </div>
              </div>
              <div class="card-line">
                <div>
                  <span class="label-footer">VIEW</span>
                  <span class="value-footer">100K</span>
                </div>

                <div>
                  <span class="value-footer">1W</span>
                  <span class="label-footer">CARD</span>
                </div>

              </div>
            </div>
          </div>
          <div class="product-purchase">
            <div class="price_love">
              <span>{{card.price | currency }}</span>
            </div>
            <div class="sell"><p><span class="lnr lnr-cart"></span><span>16</span></p></div>
          </div>
        </div>
        <div class="col-md-7 informations">
          <div class="section">
            <p>Youtube channel</p>
            <span><a href="{{card.url}}" target="_blank">{{card.url}}</a></span>
          </div>
          <div class="section">
            <p>Subscribers</p>
            <span>{{card.nbSubscribers}}</span>
          </div>
          <div class="section">
            <p>Nationality</p>
            <span>{{card.nationality}}</span>
          </div>
          <div class="section">
            <p>Description</p>
            <span>{{card.description}}</span>
          </div>
          <div class="section">
            <p>Citation</p>
            <span>{{card.citation}}</span>
          </div>
          <div class="section">
            <p>Transactions</p>
          </div>
          <div class="section">
            <p>Price history</p>
          </div>


        </div>
      </div><!-- end /.modal-body -->
      <div class="modal-footer">
        <button type="submit" class="btn btn--round btn--default">Buy</button>
        <button class="btn btn--round modal_close" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
