
    <section class="breadcrumb-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="breadcrumb">
                        <ul>
                            <li><a href="index.html">Home</a></li>
                            <li class="active"><a href="#">Login</a></li>
                        </ul>
                    </div>
                    <h1 class="page-title">Login</h1>
                </div>
            </div>
        </div>
    </section>

    <!--================================
            START LOGIN AREA
    =================================-->
    <section class="login_area section--padding2">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <form action="#">
                        <div class="cardify login">
                            <div class="login--header">
                                <h3>Choose your new password</h3>
                            </div><!-- end .login_header -->

                          <form action="#">
                            <div class="login--form">

                              <div class="form-group">
                                <label for="newPassword">New Password</label>
                                <input #newPassword="ngModel" [(ngModel)]="form.newPassword"
                                       name="newPassword" id="newPassword" type="password" class="text_field"
                                       placeholder="New password" minlength="6" maxlength="64" required>

                                <div *ngIf="newPassword.invalid && (newPassword.dirty || newPassword.touched)"
                                     class="alert alert-danger">

                                  <div *ngIf="newPassword.errors.required">
                                    New password is required.
                                  </div>
                                  <div *ngIf="newPassword.errors.minlength">
                                    Password must be at least 6 characters
                                  </div>
                                  <div *ngIf="newPassword.errors.maxlength">
                                    Password must be less than 64 characters
                                  </div>
                                  <div *ngIf="!newPassword.errors.required">
                                    Password must match
                                  </div>
                                </div>
                              </div>

                              <div class="form-group">
                                <label for="con_pass">Confirm New Password</label>
                                <input #confirmPassword="ngModel" equalValidatorDirective="newPassword" [(ngModel)]="form.conPassword"
                                       name="confirmPassword" id="con_pass" type="password" class="text_field"
                                       placeholder="Confirm password" required>

                                <div *ngIf="confirmPassword.invalid && (confirmPassword.dirty || confirmPassword.touched)"
                                     class="alert alert-danger">

                                  <div *ngIf="confirmPassword.errors.required">
                                    Password must match
                                  </div>
                                  <div *ngIf="!confirmPassword.errors.required">
                                    Password must match
                                  </div>

                                </div>
                              </div>

                                <button class="btn btn--md btn--round" type="submit" (click)="setPassword()">Submit</button>

                            </div><!-- end .login--form -->
                          </form>
                        </div><!-- end .cardify -->
                    </form>
                </div><!-- end .col-md-6 -->
            </div><!-- end .row -->
        </div><!-- end .container -->
    </section>
    <!--================================
            END LOGIN AREA
    =================================-->
