.container.flex {
  display: flex;
  justify-content: center;
}

.about_block {
  padding: 20px 0px 20px 0px;
}

.home {
  padding: 130px 0px;
}

.hook {
  margin: 10px 0px 15px;
}

.description_container {
  flex-basis: 50%;
  align-self: center;
}

.picture_container {
  flex-basis: 50%;
  align-self: baseline;
  height: 100%;
  text-align: end;
}

.home_picture {
  width: 85%;
}

.container {
  padding-right: 0px;
  padding-left: 0px;
}

.card_picture {
  width: 12%;
  height: 12%;
}

.card-flex {
  display: inline-flex;
  justify-content: space-evenly;
  flex-direction: row;
  width:100%;
}

.cards_block, .about_block, .content_block1 {
  min-height: 0px;
}

.content_block1 {
  padding: 10px 0px 10px 0px;
}

.about_block, .cards_block {
  background-color: #f6f7fb;
}

.about_block .content_area, .content_block1 .content_area {
  padding: 30px 0;
}
.cards_block .content_area {
  padding: 36px 0;
}


.about_block .content_area .content_area--title .highlight,
.content_block1 .content_area .content_area--title .highlight,
.cards_block .content_area .content_area--title .highlight {
  color: #0674ec;
}

.about_block .content_area .content_area--title,
.content_block1 .content_area .content_area--title,
.cards_block .content_area .content_area--title {
  font-size: 36px;
  line-height: 46px;
  margin-bottom: 23px;
  color: #000;
}

.btn.btn--blue:hover {
  background: #7347c1;
  color: #fff;
}

.btn.btn--blue {
  background: #0674ec;
  color: #fff;
}

.home-text {
  text-align: justify;
}

@media (max-width: 767px) {
  .description_container, .picture_container, .content_area--title {
    text-align: center;
  }

  .home {
    padding: 75px 0px;
  }

  h1 {
    font-size: 30px !important;
  }

  p {
    font-size: 15px;
  }

  .container.flex {
    flex-direction: column;
  }

  .picture_container {
    align-self: center;
    width: 90%;
    margin-top: 30px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  h1 {
    font-size: 30px;
  }
}


.card_picture {
  width:140px;
  height: 207px;
  -webkit-transition: background 400ms linear;
  -moz-transition: background 400ms linear;
  -o-transition: background 400ms linear;
  -ms-transition: background 400ms linear;
  transition: background 400ms linear;
}

#card_picture_1 {
  background: url('../../../assets/images/home/empty_model_0.png');
  background-size: cover;
}

#card_picture_1:hover {
  background: transparent;
  background: url('../../../assets/images/home/fill_model_0.png');
  background-size: cover;
}

#card_picture_2 {
  background: url('../../../assets/images/home/empty_model_1.png');
  background-size: cover;
}

#card_picture_2:hover {
  background: url('../../../assets/images/home/fill_model_1.png');
  background-size: cover;
}

#card_picture_3 {
  background: url('../../../assets/images/home/empty_model_2.png');
  background-size: cover;
}

#card_picture_3:hover {
  background: url('../../../assets/images/home/fill_model_2.png');
  background-size: cover;
}

/* MEDIA CARD PICTURE */

@media (max-width: 480px) {
  .card_picture {
    width: 70px;
    height: 105px;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .card_picture {
    width: 90px;
    height: 135px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .card_picture {
    width:140px;
    height: 207px;
  }
}

@media (min-width: 991px) and (max-width: 1199px) {
  .card_picture {
    width:140px;
    height: 207px;
  }
}

/* END MEDIA CARD PICTURE */

