
<!--================================
    START ABOUT HERO AREA
=================================-->
<section class="home">
  <div class="container flex">

    <div class="description_container">
      <h1>Collect all of the YTIcons !</h1>
      <p class="hook">Buy, collect and sell your favorite YouTuber unique cards ! </p>

      <div class="about_hero_btns">
        <a routerLink="/market" class="btn btn--blue btn--lg btn--round">Marketplace</a>
      </div>
    </div><!-- end /.description_container -->

    <div class="picture_container">
      <!--<div class="bg_image_holder">-->
        <img class="home_picture" src="assets/images/home/homePicture.png" alt="">
      <!--</div>-->
    </div>
  </div><!-- end /.container -->
</section>
<!--================================
    END ABOUT HERO AREA
=================================-->

<!--================================
    END ABOUT HERO AREA
=================================-->
<section class="about_mission">
  <div class="about_block">
    <div class="container">
      <div class="row">
        <div class="col-md-5 col-sm-6">
          <div class="content_area">
            <h1 class="content_area--title">About <span class="highlight">YTIcons</span></h1>
            <p class="home-text">Buy, collect and sell your favorite YouTuber unique cards (YTIcons) using blockchain technology !
              Once you purchase a YTIcon, an algorithm will increase the price and your YTIcon will directly be handed to the marketplace.
              But do not worry, if someone buys it back, you will get paid in receiving more than the amount you originally invested in ETH !</p>
          </div>
        </div><!-- end /.col-md-5 -->
      </div><!-- end /.row -->
    </div><!-- end /.container -->

    <!--<div class="content_image bgimage">-->
      <!--<div class="bg_image_holder">-->
        <!--<img src="assets/images/ab1.jpg" alt="">-->
      <!--</div>-->
    <!--</div>-->
  </div><!-- end /.about -->

  <div class="content_block1">
    <div class="container">
      <div class="row">
        <div class="col-md-5 col-sm-6 col-sm-offset-6 col-md-offset-7">
          <div class="content_area">
            <h1 class="content_area--title">How does it <span class="highlight">work</span> ?</h1>
            <p class="home-text">YTIcons uses the same blockchain technology as Ethereum which features the smart contract functionality : each and every YTIcon is linked to an unique token on the blockchain.
              To purchase a YTIcon, you can simply send Ether to the contract using MetaMask.
              You can download the latter's extension on most of the browsers (e.g. Chrome or Firefox).
              If you want to learn more about it, please refer to this <b><a routerLink="/faq">link</a></b>.</p>
          </div>
        </div><!-- end /.col-md-5 -->
      </div><!-- end /.row -->
    </div><!-- end /.container -->

    <!--<div class="content_image2 bgimage">-->
      <!--<div class="bg_image_holder">-->
        <!--<img src="assets/images/ab2.jpg" alt="">-->
      <!--</div>-->
    <!--</div>-->
  </div><!-- end /.mission-->

  <div class="cards_block">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="content_area card-flex">
            <!--<h1 class="content_area&#45;&#45;title">How does it <span class="highlight">work</span> ?</h1>-->
            <img class="card_picture" src="assets/images/home/cardModel0.png" alt="">
            <img class="card_picture" src="assets/images/home/cardModel1.png" alt="">
            <img class="card_picture" src="assets/images/home/cardModel2.png" alt="">
          </div>
        </div><!-- end /.col-md-5 -->
      </div><!-- end /.row -->
    </div><!-- end /.container -->
  </div><!-- end /.mission-->

</section>
<!--================================
    END ABOUT HERO AREA
=================================-->

<!--================================
    START CALL TO ACTION AREA
=================================-->
<section class="call-to-action">
  <div class="container content_above">
    <div class="row">
      <div class="col-md-12">
        <div class="call-to-wrap">
          <h1 class="text--white">The marketplace is waiting for you !</h1>
          <h4 class="text--white">Buy your first YTIcon and be part of our growing collectors' community !</h4>
          <a routerLink="/market" class="btn btn--lg btn--round btn--white callto-action-btn">Marketplace</a>
        </div>
      </div>
    </div>
  </div>
</section>
<!--================================
    END CALL TO ACTION AREA
=================================-->
