.container.flex {
  display: flex;
  justify-content: center;
}

.home {
  display: flex;
  padding: 91px 0px;
}

.hook {
  margin: 10px 0px 10px;
}

.description_container {
  flex-basis: 60%;
  align-self: center;
}

.picture_container {
  flex-basis: 40%;
  align-self: baseline;
  height: 100%;
}

.cards_block, .about_block, .content_block1 {
  min-height: 0px;
}

.about_block, .cards_block {
  background-color: #f6f7fb;
}

.about_block .content_area, .content_block1 .content_area, .cards_block .content_area {
  padding: 9% 0;
}

.about_block .content_area .content_area--title .highlight,
.content_block1 .content_area .content_area--title .highlight,
.cards_block .content_area .content_area--title .highlight {
  color: #0674ec;
}

.about_block .content_area .content_area--title,
.content_block1 .content_area .content_area--title,
.cards_block .content_area .content_area--title {
  font-size: 36px;
  line-height: 46px;
  margin-bottom: 23px;
  color: #000;
}

.btn.btn--blue:hover {
  background: #7347c1;
  color: #fff;
}

.btn.btn--blue {
  background: #0674ec;
  color: #fff;
}

/*, .btn-light, .btn--light, .btn.btn--white:hover, .btn-light:hover, .btn--light:hover*/

@media (max-width: 767px) {
  .container.flex {
    flex-direction: column;
  }

  .picture_container {
    align-self: center;
    width: 90%;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  h1 {
    font-size: 31px;
  }
}
