.container.flex {
  display: flex;
  justify-content: center;
}

.home {
  padding: 91px 0px;
}

.hook {
  margin: 10px 0px 15px;
}

.description_container {
  flex-basis: 50%;
  align-self: center;
}

.picture_container {
  flex-basis: 50%;
  align-self: baseline;
  height: 100%;
  text-align: end;
}

.home_picture {
  width: 80%;
}

.cards_block, .about_block, .content_block1 {
  min-height: 0px;
}

.about_block, .cards_block {
  background-color: #f6f7fb;
}

.about_block .content_area, .content_block1 .content_area, .cards_block .content_area {
  padding: 9% 0;
}

.about_block .content_area .content_area--title .highlight,
.content_block1 .content_area .content_area--title .highlight,
.cards_block .content_area .content_area--title .highlight {
  color: #0674ec;
}

.about_block .content_area .content_area--title,
.content_block1 .content_area .content_area--title,
.cards_block .content_area .content_area--title {
  font-size: 36px;
  line-height: 46px;
  margin-bottom: 23px;
  color: #000;
}

.btn.btn--blue:hover {
  background: #7347c1;
  color: #fff;
}

.btn.btn--blue {
  background: #0674ec;
  color: #fff;
}

.home-text {
  text-align: justify;
}

@media (max-width: 767px) {
  .description_container, .picture_container, .content_area--title {
    text-align: center;
  }

  .home {
    padding: 75px 0px;
  }

  h1 {
    font-size: 30px !important;
  }

  p {
    font-size: 15px;
  }

  .container.flex {
    flex-direction: column;
  }

  .picture_container {
    align-self: center;
    width: 90%;
    margin-top: 30px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  h1 {
    font-size: 30px;
  }
}
