.dashboard_contents {
  background: #eff1f5;
}

.admin_validation {
  display: flex;
  justify-content: space-evenly;
}

.error {
  border: solid 2px #FF0000;
}

.container-image {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.image-previ {
  width: 150px;
  height:150px;
}

.upload_title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container-checkbox {
  display: flex;
  justify-content: space-around;
}

.card-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-bottom: 24px;
}
#ch2 {
  display: block;
  margin: 0;
}

.custom_checkbox {
  display: flex;
  align-items: center;
}

.custom_checkbox label .label_text {
  margin-left: 7px;
}

.loader-buttons {
  margin-top: 10px;
}
