<!--<div (click)="createCardFromName('PrimeTimeFut')">CREATE CARD</div>-->

<section class="search-wrapper">
  <div class="search-area2 bgimage">
    <div class="bg_image_holder">
      <img src="assets/images/search.jpg" alt="">
    </div>
    <div class="container content_above">
      <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
          <div class="search">
            <div class="search__title"><h3>Enter the channel's url</h3></div>
            <div class="search__field">
              <form action="#">
                <div class="field-wrapper">
                  <input [(ngModel)]="urlChannel" name="urlChannel" (keyup.enter)="loadChannel()"
                         class="relative-field rounded" type="text" placeholder="Search your channel">
                  <button class="btn btn--round" type="submit" [ladda]="loadingChannel" (click)="loadChannel()">Search</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="dashboard_contents">
  <div class="container">
    <form action="#" class="setting_form">
      <div class="row">
        <div class="col-md-12">
          <div class="information_module">
            <a class="toggle_title" href="#collapseInformations" role="button" data-toggle="collapse"
               aria-expanded="false" aria-controls="collapse1" id="informations-card">
              <h4>Card Informations <span class="lnr lnr-chevron-down"></span></h4>
            </a>

            <div class="information__set toggle_module collapse" id="collapseInformations">
              <div class="information_wrapper form--fields">
                <div class="form-group">
                  <label for="cardName">Card Name:</label>
                  <input name="cardName" type="text" id="cardName" class="text_field" placeholder="Card Name"
                         [(ngModel)]="cardYoutuber.name">
                </div>

                <div class="form-group">
                  <label for="citationCard">Citation:</label>
                  <textarea name="citationCard" id="citationCard" class="text_field" placeholder="Channel's citation"
                            [(ngModel)]="cardYoutuber.citation"></textarea>
                </div>

                <div class="form-group">
                  <label for="descriptionCard">Description:</label>
                  <textarea name="descriptionCard" id="descriptionCard" class="text_field"
                            placeholder="Channel's description" [(ngModel)]="cardYoutuber.description"></textarea>
                </div>

                <div class="form-group">
                  <label for="country">Nationalities:</label>
                  <div class="select-wrap select-wrap2" id="wrapCountry">
                    <select [(ngModel)]="cardYoutuber.nationality"  (change)="changeInputCountry()" name="country" id="country" class="text_field">
                      <option *ngFor="let nat of nationalities" [ngValue]="nat">{{nat.name}}</option>
                    </select>
                    <span class="lnr lnr-chevron-down"></span>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="codeCountry">Country code:</label>
                      <input name="codeCountry" type="text" id="codeCountry" class="text_field"
                             placeholder="Code country" [(ngModel)]="selectInputs.codeCountry">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="nameCountry">Country name:</label>
                      <input name="nameCountry" type="text" id="nameCountry" class="text_field"
                             placeholder="Name country" [(ngModel)]="selectInputs.nameCountry">
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <label for="category">Category:</label>
                  <div class="select-wrap select-wrap2" id="wrapCategory">
                    <select [(ngModel)]="cardYoutuber.category" (change)="changeInputCategory()" name="category" id="category" class="text_field">
                      <option *ngFor="let cat of categories" [ngValue]="cat">{{cat.name}}</option>
                    </select>
                    <span class="lnr lnr-chevron-down"></span>
                  </div>
                </div>
                <div class="form-group">
                  <label for="categoryName">Category Name:</label>
                  <input name="categoryName" type="text" id="categoryName" class="text_field" placeholder="Category Name"
                         [(ngModel)]="selectInputs.nameCategory">
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-12">
          <div class="information_module">
            <a class="toggle_title" href="#collapseStatistics" role="button" data-toggle="collapse"
               aria-expanded="false" aria-controls="collapse1" id="statistics-card">
              <h4>Card Statistics <span class="lnr lnr-chevron-down"></span></h4>
            </a>

            <div class="information__set toggle_module collapse" id="collapseStatistics">
              <div class="information_wrapper form--fields">
                <div class="row">
                  <div class="col-md-4">
                    <div class="form-group">
                      <label for="nbSubscribers">Number Subscribers:<sup>*</sup></label>
                      <input name="nbSubscribers" type="number" id="nbSubscribers" class="text_field"
                             placeholder="Number of subscribers" [(ngModel)]="cardYoutuber.nbSubscribers">
                    </div>
                  </div>

                  <div class="col-md-4">
                    <div class="form-group">
                      <label for="nbVideos">Number Videos:</label>
                      <input name="nbVideos" type="number" id="nbVideos" class="text_field" placeholder="Number of videos"
                             [(ngModel)]="cardYoutuber.nbVideos">
                    </div>
                  </div>

                  <div class="col-md-4">
                    <div class="form-group">
                      <label for="nbViews">Number Views:</label>
                      <input name="nbViews" type="number" id="nbViews" class="text_field" placeholder="Number of views"
                             [(ngModel)]="cardYoutuber.nbViews">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-12">
          <div class="information_module">
            <a class="toggle_title" href="#collapseImage" role="button" data-toggle="collapse" id="image-card">
              <h4>Image <span class="lnr lnr-chevron-down"></span></h4>
            </a>

            <div class="information__set toggle_module collapse" id="collapseImage">
              <div class="information_wrapper form--fields">
                <div class="row">
                  <div class="prof_img_upload container-image">
                    <img [src]="cardYoutuber.image" class="image-previ">

                    <div  class="upload_title">
                      <p>JPG, GIF or PNG 150x150 px</p>
                      <label for="dp" class="upload_btn">
                        <input style="display: none" type="file" id="dp" (change)="refreshImage($event)">
                        <span class="btn btn--sm btn--round">Upload Image</span>
                      </label>
                    </div>
                  </div>
                </div>
              </div><!-- end /.information_wrapper -->
            </div><!-- end /.information__set -->
          </div>
        </div>

        <div class="col-md-12">
          <div class="information_module">
            <a class="toggle_title" href="#collapseType" role="button" data-toggle="collapse" id="price-card">
              <h4>Owner and Benificiary <span class="lnr lnr-chevron-down"></span></h4>
            </a>

            <div class="information__set toggle_module collapse" id="collapseType">
              <div class="information_wrapper form--fields">
                <div class="row">
                  <div>
                    <div class="form-group">
                      <label for="cardOwnerWallet">Evolutive -- Owner wallet:</label>
                      <input name="cardOwnerWallet" type="text" id="cardOwnerWallet" class="text_field" placeholder="Card owner wallet"
                             [(ngModel)]="cardYoutuber.ownerWallet">
                    </div>
                    <div class="form-group">
                      <label for="cardBenefWallet">Evolutive -- Benificiary wallet:</label>
                      <input name="cardBenefWallet" type="text" id="cardBenefWallet" class="text_field" placeholder="Card beneficiary wallet"
                             [(ngModel)]="cardYoutuber.beneficiaryWallet">
                    </div>
                  </div>
                  <div *ngIf="createOrigin">
                    <div class="form-group">
                      <label for="cardOwnerWalletOrigin">Origin -- Owner wallet:</label>
                      <input name="cardOwnerWalletOrigin" type="text" id="cardOwnerWalletOrigin" class="text_field" placeholder="Card owner wallet"
                             [(ngModel)]="cardOriginYoutuber.ownerWallet">
                    </div>
                    <div class="form-group">
                      <label for="cardBenefWalletOrigin">Origin -- Benificiary wallet:</label>
                      <input name="cardBenefWalletOrigin" type="text" id="cardBenefWalletOrigin" class="text_field" placeholder="Card beneficiary wallet"
                             [(ngModel)]="cardOriginYoutuber.beneficiaryWallet">
                    </div>
                  </div>
                </div>
              </div><!-- end /.information_wrapper -->
            </div><!-- end /.information__set -->
          </div>
        </div>

        <div class="col-md-12">
          <div class="information_module">
            <a class="toggle_title" href="#collapseType" role="button" data-toggle="collapse" id="price-card">
              <h4>Type and Price <span class="lnr lnr-chevron-down"></span></h4>
            </a>

            <div class="information__set toggle_module collapse in" id="collapseType">
              <div class="information_wrapper form--fields">
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="type">Type:</label>
                      <div class="select-wrap select-wrap2">
                        <select [(ngModel)]="cardYoutuber.type" name="type" id="type" class="text_field">
                          <option *ngFor="let type of types" [ngValue]="type">{{type.name}}</option>
                        </select>
                        <span class="lnr lnr-chevron-down"></span>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="cardPrice">Card Price:</label>
                      <input name="cardPrice" (input)="priceChanged()" type="number" id="cardPrice" class="text_field"
                             placeholder="Card price" [(ngModel)]="cardYoutuber.price">
                    </div>
                  </div>
                </div>
              </div><!-- end /.information_wrapper -->
            </div><!-- end /.information__set -->
          </div>
        </div>

      </div>
    </form>

    <div *ngIf="createOrigin" class="row">
      <div class="col-md-offset-2 col-md-4">
        <div class="card-container">
          <card [card]="cardYoutuber" [modal]="false"></card>
          <div class="container-checkbox">
            <div class="custom_checkbox">
              <input type="checkbox" id="isLocked-evo" class="" name="mail_rating_reminder" [(ngModel)]="cardYoutuber.isLocked">
              <label for="isLocked-evo">
                <span class="shadow_checkbox"></span>
                <span class="radio_title">Locked</span>
              </label>
            </div>
            <div class="custom_checkbox">
              <input type="checkbox" id="isHidden-evo" class="" name="mail_rating_reminder" [(ngModel)]="cardYoutuber.isHidden">
              <label for="isHidden-evo">
                <span class="shadow_checkbox"></span>
                <span class="radio_title">Hidden</span>
              </label>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-offset- col-md-4">
        <div class="card-container">
          <card [card]="cardOriginYoutuber" [modal]="false"></card>
          <div class="container-checkbox">
            <div class="custom_checkbox">
              <input type="checkbox" id="isLocked-origin" class="" name="mail_rating_reminder" [(ngModel)]="cardOriginYoutuber.isLocked">
              <label for="isLocked-origin">
                <span class="shadow_checkbox"></span>
                <span class="radio_title">Locked</span>
              </label>
            </div>
            <div class="custom_checkbox">
              <input type="checkbox" id="isHidden-origin" class="" name="mail_rating_reminder" [(ngModel)]="cardOriginYoutuber.isHidden">
              <label for="isHidden-origin">
                <span class="shadow_checkbox"></span>
                <span class="radio_title">Hidden</span>
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="!createOrigin" class="row">
      <div class="col-md-offset-4 col-md-4">
        <div class="card-container">
          <card [card]="cardYoutuber" [modal]="false"></card>
          <div class="container-checkbox">
            <div class="custom_checkbox">
              <input type="checkbox" id="isLocked-evo" class="" name="mail_rating_reminder" [(ngModel)]="cardYoutuber.isLocked">
              <label for="isLocked-evo">
                <span class="shadow_checkbox"></span>
                <span class="radio_title">Locked</span>
              </label>
            </div>
            <div class="custom_checkbox">
              <input type="checkbox" id="isHidden-evo" class="" name="mail_rating_reminder" [(ngModel)]="cardYoutuber.isHidden">
              <label for="isHidden-evo">
                <span class="shadow_checkbox"></span>
                <span class="radio_title">Hidden</span>
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="row">
      <div class="col-md-12">
        <div class="dashboard_title_area">
          <div class="dashboard__title admin_validation">
            <div class="form-group">
              <div class="custom_checkbox">
                <input type="checkbox" id="ch2" (change)="createOrigin = !createOrigin" [checked]="createOrigin">
                <label for="ch2"><span class="label_text label_checkbox">Create origin</span></label>
              </div>
            </div>
            <button type="submit" class="btn btn--round btn--md" [ladda]="evolutiveLoading || originLoading" (click)="createCard()">Create card</button>
          </div>
          <div class="dashboard__title admin_validation loader-buttons">
            <div *ngIf="evolutiveLoading">
              <button type="submit" class="btn btn--round btn--md" [ladda]="evolutiveLoading">Card evolutive</button>
            </div>
            <div *ngIf="originLoading">
              <button type="submit" class="btn btn--round btn--md" [ladda]="originLoading">Card origin</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
