.dashboard_contents {
  background: #eff1f5;
}

.admin_validation {
  display: flex;
  justify-content: space-evenly;
}

.error {
  border: solid 2px #FF0000;
}

.container-image {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.image-previ {
  width: 150px;
  height:150px;
}

.upload_title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
