
<section class="search-wrapper">
  <div class="search-area2 bgimage">
    <!--<div class="bg_image_holder">-->
      <!--<img src="images/search.jpg" alt="">-->
    <!--</div>-->
    <div class="container content_above">
      <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
          <div class="search">
            <div class="search__title"><h3>Search your youtubers</h3></div>
            <div class="search__field">
              <form action="#">
                <div class="field-wrapper">
                  <input (input)="onSearchChange($event.target.value)" name="search" class="relative-field rounded" type="text" placeholder="Search your youtubers">
                  <button class="btn btn--round" type="submit">Search</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="filter-area">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="filter-bar">
          <div class="filter__option filter--dropdown">
            <a href="#" id="type" class="dropdown-trigger" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Type <span class="lnr lnr-chevron-down"></span></a>
            <ul  class="dropdown dropdown-menu">
              <li (click)="selectType('')"><a>All</a></li>
              <li *ngFor="let type of types" (click)="selectType(type)"><a>{{type.name}}</a></li>
            </ul>
          </div>

          <div class="filter__option filter--dropdown">
            <a href="#" id="nationality" class="dropdown-trigger" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Nationality<span class="lnr lnr-chevron-down"></span></a>
            <ul  class="dropdown dropdown-menu">
              <li (click)="selectNationality('')"><a>All</a></li>
              <li *ngFor="let nationality of nationalities" (click)="selectNationality(nationality)"><a>{{nationality.name}}</a></li>
            </ul>
          </div>

          <div class="filter__option filter--dropdown">
            <a href="#" id="category" class="dropdown-trigger" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Channel category<span class="lnr lnr-chevron-down"></span></a>
            <ul  class="dropdown dropdown-menu">
              <li (click)="selectCategory('')"><a>All</a></li>
              <li *ngFor="let category of categories" (click)="selectCategory(category)"><a>{{category.name}}</a></li>
            </ul>
          </div>

          <div class="filter__option filter--dropdown">
            <a href="#" id="follower" class="dropdown-trigger" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Followers<span class="lnr lnr-chevron-down"></span></a>
            <ul  class="dropdown dropdown-menu">
              <li (click)="selectFollower('')"><a>All</a></li>
              <li  (click)="selectFollower(0,50000)"><a>0 - 50K</a></li>
              <li  (click)="selectFollower(50000,100000)"><a>50K - 100K</a></li>
              <li  (click)="selectFollower(100000,500000)"><a>100K - 500K</a></li>
              <li  (click)="selectFollower(500000,1000000)"><a>500K - 1M</a></li>
              <li  (click)="selectFollower(1000000,10000000)"><a>1M - 10M</a></li>
              <li  (click)="selectFollower(10000000,null)"><a>More than 10M</a></li>
            </ul>
          </div>

          <div class="filter__option filter--dropdown">
            <a href="#" id="video" class="dropdown-trigger" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Videos<span class="lnr lnr-chevron-down"></span></a>
            <ul  class="dropdown dropdown-menu">
              <li (click)="selectVideo('')"><a>All</a></li>
              <li  (click)="selectVideo(0,100)"><a>0 - 100</a></li>
              <li  (click)="selectVideo(100,200)"><a>100 - 200</a></li>
              <li  (click)="selectVideo(200,500)"><a>200 - 500</a></li>
              <li  (click)="selectVideo(500,1000)"><a>500 - 1 000</a></li>
              <li  (click)="selectVideo(1000,5000)"><a>1 000 - 5 000</a></li>
              <li  (click)="selectVideo(5000,10000)"><a>5 000 - 10 000</a></li>
              <li  (click)="selectVideo(10000,50000)"><a>10 000 - 50 000</a></li>
              <li  (click)="selectVideo(50000,null)"><a>More than 50 000</a></li>
            </ul>
          </div>


          <!--<div class="filter__option filter&#45;&#45;dropdown filter&#45;&#45;range">-->
            <!--<a href="#" id="drop3" class="dropdown-trigger" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Price Range <span class="lnr lnr-chevron-down"></span></a>-->
            <!--<div class="dropdown dropdown-menu" aria-labelledby="drop3">-->
              <!--<div class="range-slider price-range"></div>-->

              <!--<div class="price-ranges">-->
                <!--<span class="from rounded">$30</span>-->
                <!--<span class="to rounded">$300</span>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->

          <div class="filter__option filter--select">
            <div class="select-wrap">
              <select name="price">
                <option (click)="selectSort('price', 'asc')" value="low">Price : Low to High</option>
                <option (click)="selectSort('price', 'desc')" value="high">Price : High to low</option>
                <option (click)="selectSort('nbViews', 'asc')" value="low">Rarety : Low to High</option>
                <option (click)="selectSort('nbViews', 'desc')" value="high">Rarety : High to low</option>
                <option (click)="selectSort('nbFollower', 'asc')" value="low">Follower number : Low to High</option>
                <option (click)="selectSort('nbFollower', 'desc')" value="high">Follower number : High to low</option>
                <option (click)="selectSort('nbVideo', 'asc')" value="low">Video number : Low to High</option>
                <option (click)="selectSort('nbVideo', 'desc')" value="high">Video number : High to low</option>
                <option (click)="selectSort('nbTransaction', 'asc')" value="low">Transaction number : Low to High</option>
                <option (click)="selectSort('nbTransaction', 'desc')" value="high">Transaction number : High to low</option>
              </select>
              <span class="lnr lnr-chevron-down"></span>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

<section class="products">
  <div class="container">

    <div class="row">
      <div *ngFor="let card of cards">
        <card class="col-lg-3 col-md-4 col-sm-6" [card]="card"></card>
      </div>
    </div>

    <div class="row" *ngIf="maxPages > 0">
      <div class="col-md-12">
        <div class="pagination-area">
          <nav class="navigation pagination" role="navigation">
            <div class="nav-links">
              <a class="prev page-numbers" (click)="prevPage()"><span class="lnr lnr-arrow-left"></span></a>

              <a class="prev page-numbers" *ngIf="maxPages > 4" [class.disabled]="filters.page == 1" (click)="loadPage(1)">First</a>

              <a *ngFor="let in of counter(maxPages); let idxPage = index" class="page-numbers"
                 [class.current]="idxPage + 1 == filters.page" (click)="loadPage(idxPage + 1)">
                {{idxPage + 1}}
              </a>

              <a class="prev page-numbers" *ngIf="maxPages > 4" (click)="loadPage(maxPages)">Last</a>
              <a class="next page-numbers" [class.disabled]="filters.page == maxPages" (click)="nextPage()"><span class="lnr lnr-arrow-right"></span></a>
            </div>
          </nav>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="call-to-action bgimage">
  <div class="bg_image_holder">
    <img src="assets/images/calltobg.jpg" alt="">
  </div>
  <div class="container content_above">
    <div class="row">
      <div class="col-md-12">
        <div class="call-to-wrap">
          <h1 class="text--white">Ready to Join Our Marketplace!</h1>
          <h4 class="text--white">Over 25,000 designers and developers trust the MartPlace.</h4>
          <a href="#" class="btn btn--lg btn--round btn--white callto-action-btn">Join Us Today</a>
        </div>
      </div>
    </div>
  </div>
</section>
