.price-increase {
  background-color: #77de51;
}

.price-decrease {
  background-color: #9c0c1c;
}

.products {
  padding: 20px 0 40px 0;
}

.youtube_search {
  padding: 24px 0px 24px 0;
}

.pagination-area {
  margin-top: 30px;
}

.filter-bar .filter__option {
  padding: 10px 0;
}

@media (max-width: 767px) {
  .filter__option.filter--dropdown .dropdown-trigger,
  .filter__option.filter--select {
    margin: auto;
  }

  .filter__option.filter--select {
    display: block;
  }
  .filter--dropdown a {
    display: flex;
    justify-content: space-between;
  }

  .filter--dropdown #category {
    display: flex;
    justify-content: space-around;
  }

}

.empty-market {
  text-align: center;
  padding: 112px 0px 112px 0px;
}

