<div class="author__notification_area">
  <ul>
    <li class="has_dropdown">
      <div class="icon_wrap">
        <span class="lnr lnr-alarm"></span> <span class="notification_count noti">25</span>
      </div>

      <div class="dropdown notification--dropdown">

        <div class="dropdown_module_header">
          <h4>My Notifications</h4>
          <a href="notification.html">View All</a>
        </div>

        <div class="notifications_module">
          <div class="notification">
            <div class="notification__info">
              <div class="info_avatar">
                <img src="assets/images/notification_head.png" alt="">
              </div>
              <div class="info">
                <p><span>Anderson</span> added to Favourite <a href="#">Mccarther Coffee Shop</a></p>
                <p class="time">Just now</p>
              </div>
            </div><!-- end /.notifications -->

            <div class="notification__icons ">
              <span class="lnr lnr-heart loved noti_icon"></span>
            </div><!-- end /.notifications -->
          </div><!-- end /.notifications -->

          <div class="notification">
            <div class="notification__info">
              <div class="info_avatar">
                <img src="assets/images/notification_head2.png" alt="">
              </div>
              <div class="info">
                <p><span>Michael</span> commented on <a href="#">MartPlace Extension Bundle</a></p>
                <p class="time">Just now</p>
              </div>
            </div><!-- end /.notifications -->

            <div class="notification__icons ">
              <span class="lnr lnr-bubble commented noti_icon"></span>
            </div><!-- end /.notifications -->
          </div><!-- end /.notifications -->

          <div class="notification">
            <div class="notification__info">
              <div class="info_avatar">
                <img src="assets/images/notification_head3.png" alt="">
              </div>
              <div class="info">
                <p><span>Khamoka </span>purchased <a href="#">  Visibility Manager Subscriptions</a></p>
                <p class="time">Just now</p>
              </div>
            </div><!-- end /.notifications -->

            <div class="notification__icons ">
              <span class="lnr lnr-cart purchased noti_icon"></span>
            </div><!-- end /.notifications -->
          </div><!-- end /.notifications -->

          <div class="notification">
            <div class="notification__info">
              <div class="info_avatar">
                <img src="assets/images/notification_head4.png" alt="">
              </div>
              <div class="info">
                <p><span>Anderson</span> added to Favourite <a href="#">Mccarther Coffee Shop</a></p>
                <p class="time">Just now</p>
              </div>
            </div><!-- end /.notifications -->

            <div class="notification__icons ">
              <span class="lnr lnr-star reviewed noti_icon"></span>
            </div><!-- end /.notifications -->
          </div><!-- end /.notifications -->
        </div><!-- end /.dropdown -->
      </div>
    </li>
  </ul>
</div>
