.flex {
  display: flex;
  align-items: center;
}

.logs_container, .profile_container {
  float: right;
}

.profile_container {
  padding: 0;
}

.logs_wrap, .profile_wrap {
  position: relative;
}

.logs_button {
  background: #0674ec;
  color: #fff;
  padding: 0 17px;
  display: inline-block;
  line-height: 34px;
  border-radius: 21px;
  font-weight: 500;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.navbar-toggle {
  padding: 9px 0;
}

.mainmenu__menu .navbar-collapse {
  height: auto;
}

.logs_infos_container {
  display: none;
}

.collapse.navbar-collapse {
  margin-right: auto;
}

.logs_container, .profile_container {
  margin-left: auto;
  justify-content: center;
}

.menu-container {
   border-bottom: 1px solid #efefef;
}

.margin-left {
  margin-left: 20px;
}

.logo {
  max-width: 100%;
  height: 18px;
  width: 67px;
  vertical-align: text-bottom;
  display: inline-block;
}

@media (max-width: 767px) {
  .navbar-toggle {
    margin-right: auto;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .mainmenu__menu .navbar-nav > li {
    margin-right: 30px;
  }
}

@media (max-width: 991px) {
  .logs_infos_container {
    display: initial;
  }
}

