<!-- start .mainmenu_area -->
<div class="mainmenu">
  <!-- start .container -->
  <div class="container">
    <!-- start .row-->
    <div class="row">
      <!-- start .col-md-12 -->
      <div class="col-md-12 menu-container">

        <!-- NAVBAR RESPONSIVE -->
        <div class="navbar-header flex">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="lnr lnr-menu"></span>
          </button>

          <div *ngIf="router.url == '/market'" class="hidden-lg hidden-md hidden-sm">
            <currency-selector></currency-selector>
          </div>

          <div *ngIf="!isAuthenticated()" class="logs_container hidden-lg hidden-md hidden-sm" [ngClass]="{'margin-left': router.url == '/market'}">
            <div class="logs_wrap">
              <a routerLink="/login" href="" class="logs_button inline">Login</a>
            </div>
          </div><!-- end logs -->

          <!-- start profile -->
          <div *ngIf="isAuthenticated()" class="profile_container hidden-lg hidden-md hidden-sm" [ngClass]="{'margin-left': router.url == '/market'}">
            <div class="profile_wrap">
              <app-user-info></app-user-info>
            </div>
          </div><!-- end profile -->

        </div>
        <!-- END NAVBAR RESPONSIVE -->

        <nav class="navbar navbar-default mainmenu__menu flex">
          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <li>
                <a routerLink="/home" >Home</a>
              </li>
              <li>
                <a routerLink="/market">Market</a>
              </li>
              <li>
                <a routerLink="/leaderboard">Leaderboard</a>
              </li>
              <li>
                <a routerLink="/live">Live</a>
              </li>
              <li>
                <a routerLink="/faq">FAQ</a>
              </li>
              <li *ngIf="isAdmin()">
                <a routerLink="/admin">Admin</a>
              </li>
            </ul>
          </div><!-- /.navbar-collapse -->

          <div *ngIf="router.url == '/market'" class="hidden-xs">
            <currency-selector></currency-selector>
          </div>

          <!-- start logs -->
          <div *ngIf="!isAuthenticated()" class="logs_container hidden-xs" [ngClass]="{'margin-left': router.url == '/market'}">
            <div class="logs_wrap">
              <a routerLink="/signin" href="" class="logs_button inline">Login</a>
            </div>
          </div><!-- end logs -->

          <!-- start profile -->
          <div *ngIf="isAuthenticated()" class="profile_container hidden-xs" [ngClass]="{'margin-left': router.url == '/market'}">
            <div class="profile_wrap">
              <app-user-info></app-user-info>
            </div>
          </div><!-- end profile -->

        </nav>
      </div><!-- end /.col-md-12 -->
    </div><!-- end /.row-->
  </div><!-- start .container -->
</div><!-- end /.mainmenu-->
