<!--================================
    START BREADCRUMB AREA
=================================-->
<section class="breadcrumb-area">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="breadcrumb">
          <ul>
            <li><a href="index.html">Home</a></li>
            <li class="active"><a href="#">Signup</a></li>
          </ul>
        </div>
        <h1 class="page-title">Sign up</h1>
      </div><!-- end /.col-md-12 -->
    </div><!-- end /.row -->
  </div><!-- end /.container -->
</section>
<!--================================
    END BREADCRUMB AREA
=================================-->

<!--================================
        START SIGNUP AREA
=================================-->
<section class="signup_area section--padding2">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <form action="#">
          <div class="cardify signup_form">
            <div class="login--header">
              <h3>Create Your Account</h3>
              <p>Please fill the following fields with appropriate information
                to register a new MartPlace account.</p>
            </div><!-- end .login_header -->

            <div class="login--form">


              <div class="form-group">
                <!--<div class="float-label-control">-->
                  <!--<a class="btn btn-sm btn-primary" href="javascript:;">Upload Contract File-->
                    <!--<input class="uploadfile-style" (change)="fileChange($event)" name="CContractorFPath" size="10" type="file">-->
                  <!--</a>-->
                <!--</div>-->
                <div class="information__set profile_images toggle_module collapse in">

                  <div class="profile_image_area">
                    <div class="signup-avatar" [ngStyle]="{'background-image': 'url(' + url + ')'}"
                         alt="Author profile area"></div>
                    <div class="img_info">
                      <p class="bold">Profile Image</p>
                      <p class="subtitle">JPG, GIF or PNG</p>
                    </div>
                    <label for="cover_photo" class="upload_btn">
                      <input style="display: none" (change)="readUrl($event)" type="file" type="file" id="cover_photo">
                      <span class="btn btn--sm btn--round" aria-hidden="true">Upload Image</span>
                    </label>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <label for="email_ad">Email Address</label>
                <input [(ngModel)]="email" name="email" id="email_ad" type="email" class="text_field"
                       placeholder="Enter your email address" required>
              </div>

              <div class="form-group">
                <label for="user_name">Username</label>
                <input [(ngModel)]="username" name="username" id="user_name" type="text" class="text_field"
                       placeholder="Enter your username..." required>
              </div>

              <div class="form-group">
                <label for="password">Password</label>
                <input [(ngModel)]="password" name="password" id="password" type="password" class="text_field"
                       placeholder="Enter your password..." required>
              </div>

              <div class="form-group">
                <label for="con_pass">Confirm Password</label>
                <input [(ngModel)]="conPassword" name="conPassword" id="con_pass" type="password" class="text_field"
                       placeholder="Confirm password" required>
              </div>

              <button (click)="signup()" class="btn btn--md btn--round register_btn" type="submit">Register Now</button>

              <div class="login_assist">
                <p>Already have an account? <a (click)="redirect('login')">Login</a></p>
              </div>
            </div><!-- end .login--form -->
          </div><!-- end .cardify -->
        </form>
      </div><!-- end .col-md-6 -->
    </div><!-- end .row -->
  </div><!-- end .container -->
</section>
<!--================================
        END SIGNUP AREA
=================================-->
