<!--================================
    START BREADCRUMB AREA
=================================-->
<section class="breadcrumb-area">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="breadcrumb">
          <ul>
            <li><a href="index.html">Home</a></li>
            <li class="active"><a href="#">Signup</a></li>
          </ul>
        </div>
        <h1 class="page-title">Sign up</h1>
      </div><!-- end /.col-md-12 -->
    </div><!-- end /.row -->
  </div><!-- end /.container -->
</section>
<!--================================
    END BREADCRUMB AREA
=================================-->

<!--================================
        START SIGNUP AREA
=================================-->
<section class="signup_area section--padding2">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <form action="#">
          <div class="cardify signup_form">
            <div class="login--header">
              <h3>Create Your Account</h3>
              <p>Please fill the following fields with appropriate information
                to register a new MartPlace account.</p>
            </div><!-- end .login_header -->

            <div class="login--form">


              <div class="form-group">
                <!--<div class="float-label-control">-->
                  <!--<a class="btn btn-sm btn-primary" href="javascript:;">Upload Contract File-->
                    <!--<input class="uploadfile-style" (change)="fileChange($event)" name="CContractorFPath" size="10" type="file">-->
                  <!--</a>-->
                <!--</div>-->
                <div class="information__set profile_images toggle_module collapse in">

                  <div class="profile_image_area">
                    <div class="signup-avatar" [ngStyle]="{'background-image': 'url(' + url + ')'}"
                         alt="Author profile area"></div>
                    <div class="img_info">
                      <p class="bold">Profile Image</p>
                      <p class="subtitle">JPG, GIF or PNG</p>
                    </div>
                    <label for="cover_photo" class="upload_btn">
                      <input style="display: none" (change)="readUrl($event)" type="file" type="file" id="cover_photo">
                      <span class="btn btn--sm btn--round" aria-hidden="true">Upload Image</span>
                    </label>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <label for="email_ad">Email Address</label>
                <input #emailCheck="ngModel" [(ngModel)]="email" name="email" id="email_ad" type="email" class="text_field"
                       placeholder="Enter your email address" required emailValidatorDirective="">

                <div *ngIf="emailCheck.invalid && (emailCheck.dirty || emailCheck.touched)" class="alert alert-danger">

                  <div *ngIf="emailCheck.errors.required">
                    Email is required.
                  </div>
                  <div *ngIf="!emailCheck.errors.required && emailCheck.errors.emailvalidator">
                    Email is not valid.
                  </div>

                </div>
              </div>

              <div class="form-group">
                <label for="user_name">Username</label>
                <input #usernameCheck="ngModel" [(ngModel)]="username" name="username" id="user_name" type="text" class="text_field"
                       minlength="4"  maxlength="12" placeholder="Enter your username..." required>

                <div *ngIf="usernameCheck.invalid && (usernameCheck.dirty || usernameCheck.touched)" class="alert alert-danger">

                  <div *ngIf="usernameCheck.errors.required">
                    Username is required.
                  </div>
                  <div *ngIf="usernameCheck.errors.minlength">
                    Username must be at least 4 characters
                  </div>
                  <div *ngIf="usernameCheck.errors.maxlength">
                    Username must be less than 12 characters
                  </div>

                </div>
              </div>

              <div class="form-group">
                <label for="passworda">Password</label>
                <input #passworda="ngModel" [(ngModel)]="password" name="passworda" id="passworda" type="password" class="text_field"
                       minlength="6" maxlength="64" placeholder="Enter your password..." equalValidatorDirective="confirmPassword" reverse="true" required>

                <div *ngIf="passworda.invalid && (passworda.dirty || passworda.touched)" class="alert alert-danger">

                  <div *ngIf="passworda.errors.required">
                    Password is required.
                  </div>
                  <div *ngIf="passworda.errors.minlength">
                    Password must be at least 6 characters
                  </div>
                  <div *ngIf="passworda.errors.maxlength">
                    Password must be less than 64 characters
                  </div>
                </div>
              </div>

              <div class="form-group">
                <label for="con_pass">Confirm Password</label>
                <input #confirmPassword="ngModel" equalValidatorDirective="passworda" [(ngModel)]="conPassword" name="confirmPassword" id="con_pass" type="password" class="text_field"
                       placeholder="Confirm password" required>

                <div *ngIf="confirmPassword.invalid && (confirmPassword.dirty || confirmPassword.touched)" class="alert alert-danger">

                  <div *ngIf="confirmPassword.errors.required">
                    Password match is required.
                  </div>
                  <div *ngIf="!confirmPassword.errors.required">
                    Password must match
                  </div>

                </div>
              </div>

              <button (click)="signup()" class="btn btn--md btn--round register_btn" type="submit">Register Now</button>

              <div class="login_assist">
                <p>Already have an account? <a (click)="redirect('login')">Login</a></p>
              </div>
            </div><!-- end .login--form -->
          </div><!-- end .cardify -->
        </form>
      </div><!-- end .col-md-6 -->
    </div><!-- end .row -->
  </div><!-- end .container -->
</section>
<!--================================
        END SIGNUP AREA
=================================-->
