<div class="col-md-3 col-sm-6">
  <!-- start .single-product -->
  <div class="product product--card">

    <div class="product__thumbnail">
      <img src="{{card.image}}">
      <div class="prod_btn">
        <a href="single-product.html" class="transparent btn--sm btn--round">More Info</a>
        <a href="single-product.html" class="transparent btn--sm btn--round">Live Demo</a>
      </div>
    </div>

    <div class="product-purchase">
      <div class="price_love">
        <span>{{card.price}}</span>
        <p><span class="lnr lnr-heart"></span> 90</p>
      </div>
      <div class="sell"><p><span class="lnr lnr-cart"></span><span>16</span></p></div>
    </div>
  </div>
</div>
