

<!--================================
    START BREADCRUMB AREA
=================================-->
<section class="breadcrumb-area">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="breadcrumb">
          <ul>
            <li><a href="index.html">Home</a></li>
            <li class="active"><a href="#">Leaderboard</a></li>
          </ul>
        </div>
        <h1 class="page-title">Leaderboard</h1>
      </div><!-- end /.col-md-12 -->
    </div><!-- end /.row -->
  </div><!-- end /.container -->
</section>
<!--================================
    END BREADCRUMB AREA
=================================-->



<!--================================
    START AUTHOR AREA
=================================-->
<section class="author-profile-area">
  <div class="container">
    <div class="row">

      <div class="col-md-12">
        <div class="row">
          <div class="col-md-4 col-sm-4">
            <div class="author-info mcolorbg4">
              <p>Special card + 1 ETH</p>
              <h3>1st</h3>
            </div>
          </div><!-- end /.col-md-4 -->

          <div class="col-md-4 col-sm-4">
            <div class="author-info pcolorbg">
              <p>1 ETH</p>
              <h3>2nd</h3>
            </div>
          </div><!-- end /.col-md-4 -->

          <div class="col-md-4 col-sm-4">
            <div class="author-info scolorbg">
              <p>0.5 ETH</p>
              <h3>3rd</h3>
            </div>
          </div><!-- end /.col-md-4 -->
        </div><!-- end /.row -->

        <div class="row">
          <div class="col-md-12">
            <div class="user_area">
              <ul>
                <li *ngFor="let rank of leaderboard; let i = index">
                  <div class="user_single">
                    <div class="user__status user__rank" [ngClass]="['user__status','user__rank', i == 0 ? 'first' : '',i == 1 ? 'second' : '',i == 2 ? 'third' : '', i > 2 ? 'default' : '' ]">
                      <i *ngIf="rank?.user?._id == currentUser?._id" style="color: yellow" class="fa fa-star"></i>
                      <p>{{i + 1}}</p>
                    </div>
                    <div class="user_desc">
                      <div class="user_avatar">
                        <div class="leaderboard-profile-avatar" [ngStyle]="{'background-image': 'url(' + ms.baseUrl + rank?.user?.avatar + ')'}" alt=""></div>
                      </div>
                      <div class="user_informations">
                        <a *ngIf="!rank.user.wallet">{{rank.user.username}}</a>
                        <a *ngIf="rank.user.wallet" [routerLink]="['/account', rank.user?.wallet]">{{rank.user.username ? rank.user.username : rank.user.wallet}}</a>
                        <p *ngIf="rank.user.username">Member since: {{rank.user.createdAt | date:'MMMM yyyy'}}</p>
                      </div>
                    </div>
                    <div class="user_stats">
                      <p>{{rank.score.nbSubscribers | frenchNumber}} Followers</p>
                      <p>{{rank.score.nbCards}} Cards</p>
                      <p>{{rank.score.nbViews | frenchNumber}} Views</p>
                    </div>
                  </div><!-- end /.user_single -->
                </li>

              </ul>
            </div><!-- end /.user_area -->
          </div><!-- end /.col-md-12 -->
        </div><!-- end /.row -->
      </div><!-- end /.col-md-8 -->

    </div><!-- end /.row -->
  </div><!-- end /.container -->
</section>
<!--================================
    END AUTHOR AREA
=================================-->
