<head>
  <meta name="description" content="Become the most followed and win some rewards thanks to your YTIcons"/>
</head>

<section class="breadcrumb-area">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="breadcrumb">
          <ul>
            <li><a routerLink="/home">Home</a></li>
            <li class="active"><a routerLink="/leaderboard">Leaderboard</a></li>
          </ul>
        </div>
        <h1 class="page-title">Leaderboard</h1>
      </div>
    </div>
  </div>
</section>

<section class="author-profile-area">
  <div class="container">
    <div class="row">

      <div class="col-md-12">
        <div class="row" *ngIf="true">
          <div class="col-md-4 col-sm-4">
            <div class="author-info mcolorbg4">
              <p>Special card + 25% ({{utilityFund * 25 / 100 | round}} ETH)</p>
              <h3>1st</h3>
            </div>
          </div><!-- end /.col-md-4 -->

          <div class="col-md-4 col-sm-4">
            <div class="author-info pcolorbg">
              <p>15% ({{utilityFund * 15 / 100 | round}} ETH)</p>
              <h3>2nd</h3>
            </div>
          </div><!-- end /.col-md-4 -->

          <div class="col-md-4 col-sm-4">
            <div class="author-info scolorbg">
              <p>10% ({{utilityFund * 10 / 100 | round}} ETH)</p>
              <h3>3rd</h3>
            </div>
          </div><!-- end /.col-md-4 -->
        </div><!-- end /.row -->

        <div class="row">
          <div class="col-md-12">
            <div class="empty-market" *ngIf="isLoading == true">
              <div class="spinner-rect"></div>
            </div>
            <div class="user_area">
              <ul>
                <li *ngFor="let rank of leaderboard; let i = index" [ngClass]="[i == 0 ? 'first-leaderboard' : '',i == 1 ? 'second-leaderboard' : '',i == 2 ? 'third-leaderboard' : '', i > 2 ? 'default' : '' ]" [routerLink]="['/account', rank.user?.wallet]">
                  <div class="user_single">
                    <div class="user__status user__rank" [ngClass]="['user__status','user__rank', i == 0 ? 'first' : '',i == 1 ? 'second' : '',i == 2 ? 'third' : '', i > 2 ? 'default' : '' ]">
                      <div *ngIf="rank?.user?._id == currentUser?._id" class="star_user">
                        <img src="assets/images/star.png" [ngStyle]="{'width': '30px', 'max-width': '30px'}">
                      </div>
                      <p>{{i + 1}}</p>
                    </div>
                    <div class="user_desc">
                      <div class="user_avatar">
                        <div class="leaderboard-profile-avatar" [ngStyle]="{'background-image': 'url(' + ms.baseUrl + rank?.user?.avatar + ')'}" alt=""></div>
                      </div>
                      <div class="user_informations ellipsis">
                        <a *ngIf="!rank.user.wallet">{{rank.user.username}}</a>
                        <a *ngIf="rank.user.wallet" [routerLink]="['/account', rank.user?.wallet]">{{rank.user.username ? rank.user.username : rank.user.wallet}}</a>
                        <p *ngIf="rank.user.username">Member since: {{rank.user.createdAt | date:'MMMM yyyy'}}</p>
                      </div>
                    </div>
                    <div class="user_stats">
                      <p>{{rank.score.nbSubscribers | frenchNumber}} Followers</p>
                      <p>{{rank.score.nbCards}} Cards</p>
                      <p>{{rank.score.nbViews | frenchNumber}} Views</p>
                    </div>
                  </div><!-- end /.user_single -->
                </li>

              </ul>
            </div>
          </div>
          <div class="col-md-12" *ngIf="ranking && ranking.rank > 50">
            <div class="user_area">
              <ul>
                <li class="default">
                  <div class="user_single">
                    <div class="user__status user__rank default" >
                      <div *ngIf="ranking?.user?._id == currentUser?._id" class="star_user">
                        <img src="assets/images/star.png" [ngStyle]="{'width': '30px', 'max-width': '30px'}">
                      </div>
                      <p>{{ranking.rank}}</p>
                    </div>
                    <div class="user_desc">
                      <div class="user_avatar">
                        <div class="leaderboard-profile-avatar" [ngStyle]="{'background-image': 'url(' + ms.baseUrl + ranking?.user?.avatar + ')'}" alt=""></div>
                      </div>
                      <div class="user_informations ellipsis">
                        <a *ngIf="!ranking.user.wallet">{{ranking.user.username}}</a>
                        <a *ngIf="ranking.user.wallet" [routerLink]="['/account', ranking.user?.wallet]">{{ranking.user.username ? ranking.user.username : ranking.user.wallet}}</a>
                        <p *ngIf="ranking.user.username">Member since: {{ranking.user.createdAt | date:'MMMM yyyy'}}</p>
                      </div>
                    </div>
                    <div class="user_stats">
                      <p>{{ranking.score.nbSubscribers | frenchNumber}} Followers</p>
                      <p>{{ranking.score.nbCards}} Cards</p>
                      <p>{{ranking.score.nbViews | frenchNumber}} Views</p>
                    </div>
                  </div><!-- end /.user_single -->
                </li>

              </ul>
            </div>
          </div>
        </div>
      </div>

    </div><!-- end /.row -->
  </div><!-- end /.container -->
</section>
<!--================================
    END AUTHOR AREA
=================================-->
