

<!--================================
    START BREADCRUMB AREA
=================================-->
<section class="breadcrumb-area">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="breadcrumb">
          <ul>
            <li><a href="index.html">Home</a></li>
            <li class="active"><a href="#">Leaderboard</a></li>
          </ul>
        </div>
        <h1 class="page-title">Leaderboard</h1>
      </div><!-- end /.col-md-12 -->
    </div><!-- end /.row -->
  </div><!-- end /.container -->
</section>
<!--================================
    END BREADCRUMB AREA
=================================-->



<!--================================
    START AUTHOR AREA
=================================-->
<section class="author-profile-area">
  <div class="container">
    <div class="row">

      <div class="col-md-12">
        <div class="row">
          <div class="col-md-4 col-sm-4">
            <div class="author-info mcolorbg4">
              <p>Special card + 1 ETH</p>
              <h3>1st</h3>
            </div>
          </div><!-- end /.col-md-4 -->

          <div class="col-md-4 col-sm-4">
            <div class="author-info pcolorbg">
              <p>1 ETH</p>
              <h3>2nd</h3>
            </div>
          </div><!-- end /.col-md-4 -->

          <div class="col-md-4 col-sm-4">
            <div class="author-info scolorbg">
              <p>0.5 ETH</p>
              <h3>3rd</h3>
            </div>
          </div><!-- end /.col-md-4 -->
        </div><!-- end /.row -->

        <div class="row">
          <div class="col-md-12">
            <div class="user_area">
              <ul>
                <li>
                  <div class="user_single">
                    <div class="user__status user__rank">
                      <h3>1</h3>
                    </div>
                    <div class="user__short_desc nek__short_desc" style="border-left: 2px solid #ff696d !important;">
                      <div class="user_avatar">
                        <img src="assets/images/m1.png" alt="">
                      </div>
                      <div class="user_info">
                        <a href="#">Nekflamm</a>
                        <p>Member Since: February 2017 Bangladesh</p>
                      </div>
                    </div>
                    <div class="user__meta nek_user_meta">
                      <p>12 Cards</p>
                      <p>45M Followers</p>
                      <p>1MM Views</p>
                    </div>
                  </div><!-- end /.user_single -->
                </li>

                <li>
                  <div class="user_single">
                    <div class="user__status user__rank">
                      <h3>2</h3>
                    </div>
                    <div class="user__short_desc nek__short_desc" style="border-left: 2px solid #0773ed !important;">
                      <div class="user_avatar">
                        <img src="assets/images/m1.png" alt="">
                      </div>
                      <div class="user_info">
                        <a href="#">Octhug</a>
                        <p>Member Since: February 2017 Bangladesh</p>
                      </div>
                    </div>
                    <div class="user__meta nek_user_meta">
                      <p>12 Cards</p>
                      <p>45M Followers</p>
                      <p>1MM Views</p>
                    </div>
                  </div><!-- end /.user_single -->
                </li>

                <li>
                  <div class="user_single">
                    <div class="user__status user__rank">
                      <h3>3</h3>
                    </div>
                    <div class="user__short_desc nek__short_desc" style="border-left: 2px solid #7246c1 !important;">
                      <div class="user_avatar">
                        <img src="assets/images/m1.png" alt="">
                      </div>
                      <div class="user_info">
                        <a href="#">Albambin bojoue</a>
                        <p>Member Since: February 2017 Bangladesh</p>
                      </div>
                    </div>
                    <div class="user__meta nek_user_meta">
                      <p>12 Cards</p>
                      <p>45M Followers</p>
                      <p>1MM Views</p>
                    </div>
                  </div><!-- end /.user_single -->
                </li>

                <li>
                  <div class="user_single">
                    <div class="user__status user__rank">
                      <p>4</p>
                    </div>
                    <div class="user__short_desc nek__short_desc">
                      <div class="user_avatar">
                        <img src="assets/images/m1.png" alt="">
                      </div>
                      <div class="user_info">
                        <a href="#">Nyriikx</a>
                        <p>Member Since: February 2017 Bangladesh</p>
                      </div>
                    </div>
                    <div class="user__meta nek_user_meta">
                      <p>12 Cards</p>
                      <p>45M Followers</p>
                      <p>1MM Views</p>
                    </div>
                  </div><!-- end /.user_single -->
                </li>

                <li>
                  <div class="user_single">
                    <div class="user__status user__rank">
                      <p>5</p>
                    </div>
                    <div class="user__short_desc nek__short_desc">
                      <div class="user_avatar">
                        <img src="assets/images/m1.png" alt="">
                      </div>
                      <div class="user_info">
                        <a href="#">Johny</a>
                        <p>Member Since: February 2017 Bangladesh</p>
                      </div>
                    </div>
                    <div class="user__meta nek_user_meta">
                      <p>12 Cards</p>
                      <p>45M Followers</p>
                      <p>1MM Views</p>
                    </div>
                  </div><!-- end /.user_single -->
                </li>

                <li>
                  <div class="user_single">
                    <div class="user__status user__rank">
                      <p>6</p>
                    </div>
                    <div class="user__short_desc nek__short_desc">
                      <div class="user_avatar">
                        <img src="assets/images/m1.png" alt="">
                      </div>
                      <div class="user_info">
                        <a href="#">Jerome crypto</a>
                        <p>Member Since: February 2017 Bangladesh</p>
                      </div>
                    </div>
                    <div class="user__meta nek_user_meta">
                      <p>12 Cards</p>
                      <p>45M Followers</p>
                      <p>1MM Views</p>
                    </div>
                  </div><!-- end /.user_single -->
                </li>

                <li>
                  <div class="user_single">
                    <div class="user__status user__rank">
                      <p>7</p>
                    </div>
                    <div class="user__short_desc nek__short_desc">
                      <div class="user_avatar">
                        <img src="assets/images/m1.png" alt="">
                      </div>
                      <div class="user_info">
                        <a href="#">Henry bitcoin</a>
                        <p>Member Since: February 2017 Bangladesh</p>
                      </div>
                    </div>
                    <div class="user__meta nek_user_meta">
                      <p>12 Cards</p>
                      <p>45M Followers</p>
                      <p>1MM Views</p>
                    </div>
                  </div><!-- end /.user_single -->
                </li>

                <li>
                  <div class="user_single">
                    <div class="user__short_desc">
                      <div class="user_avatar">
                        <img src="assets/images/m2.png" alt="">
                      </div>
                      <div class="user_info">
                        <a href="#">CizThemes</a>
                        <p>Member Since: February 2017 Bangladesh</p>
                      </div>
                    </div>
                    <div class="user__meta">
                      <p>268 Items</p>
                      <p>970 Sales</p>
                      <div class="rating product--rating">
                        <ul>
                          <li><span class="fa fa-star"></span></li>
                          <li><span class="fa fa-star"></span></li>
                          <li><span class="fa fa-star"></span></li>
                          <li><span class="fa fa-star"></span></li>
                          <li><span class="fa fa-star-half-o"></span></li>
                        </ul>
                        <span class="rating__count">(34)</span>
                      </div>
                    </div>
                    <div class="user__status user--following">
                      <a href="#" class="btn btn--round btn--md">Following</a>
                    </div>
                  </div><!-- end /.user_single -->
                </li>

              </ul>

              <div class="pagination-area pagination-area2">
                <nav class="navigation pagination " role="navigation">
                  <div class="nav-links">
                    <a class="page-numbers current" href="#">1</a>
                    <a class="page-numbers" href="#">2</a>
                    <a class="page-numbers" href="#">3</a>
                    <a class="next page-numbers" href="#"><span class="lnr lnr-arrow-right"></span></a>
                  </div>
                </nav>
              </div>
            </div><!-- end /.user_area -->
          </div><!-- end /.col-md-12 -->
        </div><!-- end /.row -->
      </div><!-- end /.col-md-8 -->

    </div><!-- end /.row -->
  </div><!-- end /.container -->
</section>
<!--================================
    END AUTHOR AREA
=================================-->


<!--================================
    START CALL TO ACTION AREA
=================================-->
<section class="call-to-action bgimage">
  <div class="bg_image_holder">
    <img src="assets/images/calltobg.jpg" alt="">
  </div>
  <div class="container content_above">
    <div class="row">
      <div class="col-md-12">
        <div class="call-to-wrap">
          <h1 class="text--white">Ready to Join Our Marketplace!</h1>
          <h4 class="text--white">Over 25,000 designers and developers trust the MartPlace.</h4>
          <a href="#" class="btn btn--lg btn--round btn--white callto-action-btn">Join Us Today</a>
        </div>
      </div>
    </div>
  </div>
</section>
<!--================================
    END CALL TO ACTION AREA
=================================-->
