
<section class="breadcrumb-area">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="breadcrumb">
          <ul>
            <li><a routerLink="/home">Home</a></li>
            <li class="active"><a routerLink="/operation">Operation</a></li>
          </ul>
        </div>
        <h1 class="page-title">Operation</h1>
      </div>
    </div>
  </div>
</section>

<section class="operation-area section--padding2">
  <div class="container">
    <div class="row">
      <div class="col-md-12">

        <div class="operation-detail-module">
          <div class="operation-content">
            <p>Because we are really concerned about the relationship between YTIcons and its community,
              we want to provide a total transparency for all of the current and future YTIcollectors.</p>
            <p>YTIcons is a unique Smart Contract (also referred as “SC”) and every YouTuber card is one Smart Contract
              token, i.e. once you purchase a card, it belongs to you and nobody else can steal it from you except
              if one person buys it from you.</p>
            <p>At every purchase, the bought YouTuber card (referred as “YTIcon”) will get its price increased.
              This rise is carefully calculated by the SC to avoid any excess and to allow you to gain up to :</p>
            <ul class="content_list">
              <li><b>x2</b> from 0 to 0.05 ETH.</li>
              <li><b>x1.5</b> from 0.05 to 0.5 ETH.</li>
              <li><b>x1.25</b> from 0.5 to 1 ETH.</li>
              <li><b>x1.15</b> from 1 ETH to infinity.</li>
            </ul>
          </div>

          <h3 class="operation-title">Scenario</h3>
          <div class="operation-content">
            <p>Let’s consider that you purchase a <b>YTIcon</b> for <b>0.1 ETH</b> and get your transaction validated by the blockchain :
              it is yours and its price increases (<b>x1.5</b> since 0.1 ETH is between 0.05 and 0.5 ETH) so its value is now around<b>*</b> <b>0.15 ETH</b>.</p>

            <p>You can <b>set the price</b> from <b>the previous YTIcon's price</b> (0.1 ETH) up to <b>its current price</b> (0.15 ETH),
              but you are convinced that the YTIcon you bought is worth its value.</p>

            <p>You were right since someone else directly buys it from you and get his/her transaction validated by the blockchain.
              For this transaction (note that we will use the example values but <b>the percentages cited below are inscribed
                in the Smart Contract and cannot be modified in any way</b>) :</p>

            <ul class="content_list">
              <li>The <b>seller</b> gets <b>92% of the price</b>. In this case, as your YTIcon is worth 0.15 ETH, you will gain around 0.14 ETH.</li>
              <li>If the <b>YTIcon is verified</b> by a YouTuber, <b>3%</b> will be sent <b>to an address she/he carefully chose</b>. On the other hand,
                if the <b>YTIcon is not verified</b>, these <b>3%</b> will be sent to an address especially created for <b>charity purposes</b>.</li>
              <li>With the remaining percentages, <b>1%</b> will be sent to an utility fund created for <b>YTIcons’ development</b> which includes giveaway, events’ rewards and more.</li>
              <li>Finally <b>4%</b> will be <b>shared between all of the YTIcons’ creators</b> and will be used for <b>YTIcons’ development</b> including advertisements, maintenance, server fees and more.</li>
            </ul>

            <p><b>*</b> : for the example above, we multiply by <b>1.5</b> to simplify our scenario. However, in the smart contract and because of the fact that the seller actually get 92% of the transaction,
              all of the coefficients are higher : in this case the value of your YTIcon would be worth around <b>0.6 ETH</b> because we want our users to actually gain up to <b>1.5x more</b> than what they invested.</p>
          </div>

          <h3 class="operation-title">Charity</h3>
          <div class="operation-content">
            <p>With all of the cryptocurrency’s projects’ stories, we totally why you might be skeptical about us giving to charities and this is why
              our Smart Contract is publicly open for you to read and analyse it <b><a routerLink="/faq">here</a></b>.</p>
            <p>In contrary of other similar cryptocurrencies projects, the donations are directly stored — through our Smart Contract
              — to an address with this specific purpose.</p>
            <p>Finally, since a lot of the existing charities and organisations serve different purposes to make the world
              a better place, we will notify you through our Twitter (<b><a href="https://twitter.com/YT_Icons" target="-blank">@YT_Icons</a></b>)
              every time a change has been decided or when a donation has been done through this address so you can track it off thanks to the Blockchain.</p>
            <p>We want our community to be aware of everything related to the charities and this is why we engage ourselves
              to provide you updates following every transaction done through this wallet and evidences once the Ether has been donated.</p>
          </div>

        </div><!-- end /.operation-detail-module -->
      </div><!-- end /.col-md-6 -->
    </div><!-- end /.row -->
  </div><!-- end /.container -->
</section>
<!--================================
    END JOB AREA
=================================-->
