    <!--================================
        START BREADCRUMB AREA
    =================================-->
    <section class="breadcrumb-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="breadcrumb">
                        <ul>
                            <li><a href="index.html">Home</a></li>
                            <li class="active"><a href="#">Login</a></li>
                        </ul>
                    </div>
                    <h1 class="page-title">Login</h1>
                </div><!-- end /.col-md-12 -->
            </div><!-- end /.row -->
        </div><!-- end /.container -->
    </section>
    <!--================================
        END BREADCRUMB AREA
    =================================-->

    <!--================================
            START LOGIN AREA
    =================================-->
    <section class="login_area section--padding2">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <form action="#">
                        <div class="cardify login">
                            <div class="login--header">
                                <h3>Welcome Back</h3>
                            </div><!-- end .login_header -->

                            <div class="login--form">
                                <div class="form-group">
                                    <label for="user_name">Email</label>
                                    <input name="username" [(ngModel)]="username" id="user_name" type="text" class="text_field" placeholder="Enter your email...">
                                </div>

                                <div class="form-group">
                                    <label for="pass">Password</label>
                                    <input type="password"  name="password" [(ngModel)]="password" id="pass" class="text_field" placeholder="Enter your password...">
                                </div>

                              <re-captcha (resolved)="resolved($event)" siteKey="{{recaptchaPublic}}"></re-captcha>

                              <div class="form-group">
                                    <div class="custom_checkbox">
                                        <input type="checkbox" id="ch2" (change)="rememberMe = !rememberMe" [checked]="rememberMe">
                                        <label for="ch2"><span class="label_text">Remember me</span></label>
                                    </div>
                                </div>

                                <button class="btn btn--md btn--round" type="submit" (click)="signin()">Login Now</button>

                                <div class="login_assist">
                                    <p class="recover">Lost your <a routerLink="/lost-password">password</a>?</p>
                                    <p class="signup">Don't have an <a (click)="redirect('signup')">account</a>?</p>
                                </div>
                            </div><!-- end .login--form -->
                        </div><!-- end .cardify -->
                    </form>
                </div><!-- end .col-md-6 -->
            </div><!-- end .row -->
        </div><!-- end .container -->
    </section>
    <!--================================
            END LOGIN AREA
    =================================-->
