<!--================================
    START BREADCRUMB AREA
=================================-->
<section class="breadcrumb-area">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="breadcrumb">
          <ul>
            <li><a routerLink="/home">Home</a></li>
            <li><a routerLink="/privacypolicy">Privacy Policy</a></li>
          </ul>
        </div>
        <h1 class="page-title">Privacy Policy</h1>
      </div><!-- end /.col-md-12 -->
    </div><!-- end /.row -->
  </div><!-- end /.container -->
</section>
<!--================================
    END BREADCRUMB AREA
=================================-->

<!--================================
        START PRIVACY POLICY AREA
=================================-->

<section class="privacypolicy-area section--padding2">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="cardify term_modules">
          <div class="term">
            <div class="paragraph-container">
              <p>As the legality of our platform, your privacy is our main priority and this is why we want you to be aware of how the informations are collected,
                used and protected when you log in or purchase a YouTuber’s card (<b>YTIcon</b>) on our website (<a href="www.yticons.co">www.yticons.co</a>), along with others.</p>

              <p>In this policy, the whole system covering the Smart Contracts and our platform (the website) will be referred as the “Application”. By using this Application, you agree that we can collect, use and disclose your information according to this policy.
                  This Privacy policy only applies to the Game — meaning not any other websites, products or services accessible through the Application (e.g. MetaMask).</p>

              <p>If any changes are done to this Policy, you will be notified differently depending on the extend of the occurred changes :
                we will either use the website to notify you through a banner announcement,
                directly send you an email or even all of the ways cited above if there are any major changes.</p>

              <p>Even if we really care about your privacy by notifying you at every change,
                we totally understand the fact that you still can be concerned about your privacy using our Application.
                This is why we suggest you to keep being updated by occasionally checking back here.</p>
            </div>
          </div><!-- end /.term -->

          <div class="term">
            <div class="term__title">
              <h4>Collected informations</h4>
            </div>
            <div class="paragraph-container">
              <p>To fully use the Application, we will ask you to provide us your address email, your Ethereum wallet address.</p>

              <p>We also collect log-in informations and basic analytics. These informations can be collected from third-party providers like Google Analytics. They may include, among other things, the type of the device you are using, your IP address and more.
                These providers may also use cookies or pixels, which are accepted by most of the existing web browsers by default. You can set your browser to remove or reject cookies or pixels, however, your experience using the Application might be affected.</p>
            </div>
          </div><!-- end /.term -->

          <div class="term">
            <div class="term__title">
              <h4>Informations not collected</h4>
            </div>
            <div class="paragraph-container">
            <p>We do not collect any other personal information except if you provide it to us : by filling a form, communicating with us via social media applications or email.
              Also, we only collect your Ethereum wallet address as a payment information (and that is all).</p>
            </div>
          </div><!-- end /.term -->

          <div class="term">
            <div class="term__title">
              <h4>Use of the collected informations</h4>
            </div>
            <div class="paragraph-container">
              <p>Any collected information will be used to :</p>
              <ul>
                <li>- Improve the Application.</li>
                <li>- Analyze trends to improve and implement features you actually want.</li>
                <li>- Contact you to send you technical updates, confirmations for sales, informations regarding security, Application updates and more.</li>
                <li>- Responding to any questions or support issues you may have.</li>
              </ul>
              <br/>
              <p>We may share the collected informations with the used third-parties to improve the game, however, as your privacy is our priority number one,
                we endeavor to only provide them the informations they need to work on our behalf.</p>
            </div>
          </div><!-- end /.term -->

          <div class="term">
            <div class="term__title">
              <h4>What we <b>do not</b> do with your informations</h4>
            </div>
            <div class="paragraph-container">
              <p>As previously implied, we do not share any information that directly identifies you with any third party provider except :</p>
              <ul>
                <li>- To comply with applicable law, regulation or law enforcement.</li>
                <li>- To respond to claims and/or legal process.</li>
                <li>- To protect our rights, our property or to enforce our terms of service.</li>
                <li>- To preserve and ensure the safety of a person or a group of people.</li>
                <li>- To prevent any unethical or illegal behavior.</li>
                <li>- With your consent or at your request.</li>
                <li>- For any other reason cited in this Policy.</li>
              </ul>
            </div>
          </div><!-- end /.term -->

          <div class="term">
            <div class="term__title">
              <h4>Informations storing and processing</h4>
            </div>
            <div class="paragraph-container">
              <p>Any collected information is governed by our home country. By using our Application,
                you acknowledge that your informations may be transferred to or maintained on a system outside of your country of residence,
                where the privacy laws may be as not as protective as those in where you are located.
                By using our application, or by providing informations to us, you agree to have your information stored and processed in our home country.</p>
            </div>
          </div><!-- end /.term -->

          <div class="term">
            <div class="term__title">
              <h4>Informations security</h4>
            </div>
            <div class="paragraph-container">
              <p>We are really careful about the informations you provide us and work hard to keep them secure :
                we will take reasonable administrative, physical and electronic measure to protect your informations from loss,
                theft, misuse, unauthorized access, disclosure, destruction or alteration. Nevertheless,
                even with our will to protect your informations as much as possible,
                we cannot guarantee them the absolute security because no information on the Internet is ever completely secure.</p>
            </div>
          </div><!-- end /.term -->

          <div class="term">
            <div class="term__title">
              <h4>Minor-age accounts</h4>
            </div>
            <div class="paragraph-container">
              <p>The Application is not intended for children under the age of 13.
                If you are the parent or guardian of a child under the required minimum age and you believe
                (or you are already aware) that your child has provided us personal informations without your (and their) consent,
                contact us at <b>yt-icons@gmail.com</b>. We will immediately remove those informations from our files.</p>
            </div>
          </div><!-- end /.term -->

          <div class="term">
            <div class="term__title">
              <h4>Contact us</h4>
            </div>
            <div class="paragraph-container">
              <p>If you have any questions or want to know the informations we currently have about you (if any), please contact us at <b>yt-icons@gmail.com</b>.</p>
            </div>
          </div><!-- end /.term -->

        </div><!-- end /.term_modules -->
      </div><!-- end /.col-md-12 -->
    </div><!-- end /.row -->
  </div><!-- end /.container -->
</section>

<!--================================
        END PRIVACY POLICY AREA
=================================-->
