<!--================================
    START BREADCRUMB AREA
=================================-->
<section class="breadcrumb-area">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="breadcrumb">
          <ul>
            <li><a routerLink="/home">Home</a></li>
            <li><a routerLink="/bountyprogram">Bounty Program</a></li>
          </ul>
        </div>
        <h1 class="page-title">Bounty Program</h1>
      </div><!-- end /.col-md-12 -->
    </div><!-- end /.row -->
  </div><!-- end /.container -->
</section>
<!--================================
    END BREADCRUMB AREA
=================================-->


<!--================================
        START JOB AREA
    =================================-->
<section class="bounty-area section--padding2">
  <div class="container">
    <div class="row">
      <div class="col-md-12">

        <div class="bounty-detail-module">
          <!--<h3 class="job__title">Job Description</h3>-->
          <div class="bounty-content">
            <p>Anticipating the release of YTIcons, we always wanted to reward our community for helping us creatively
              spreading the word of our interactive game online.</p>
            <p>With the launch of YTIcons, we finally get the opportunity to give our “YTIcollectors” what they deserve !</p>
          </div>

          <h3 class="bounty-title">How can I participate ?</h3>
          <div class="bounty-content">
            <p>We are aware that we cannot restrain our community to spread the word on one and only social network.
              This is why we trust your originality in giving you the freedom to create any type of content
              (articles, social media posts, podcast…) to promote YTIcons on your preferred platform(s).</p>
            <p>Once it is done, send us an email with your contributions to <b>dev@yticons.co</b> with your Ethereum
              wallet address to join the bounty program.
              Our team will evaluate your submissions and rank your efforts.</p>
            <p>The contributions will be judged depending on different factors such as the amount of energy,
              the quality of your content (accuracy, informations…) and the effect of those efforts (reach).</p>
          </div>

          <h3 class="bounty-title">What are the rewards ?</h3>
          <div class="bounty-content">
            <p>We decided to make a top 20 :</p>
            <ul class="content_list">
              <li>We will give our <b>top 5</b> users a <b>YTIcon*</b> with a starting price of <b>0.5 ETH</b>.</li>
              <li>We will give a <b>YTIcon*</b> with a starting price of <b>0.2 ETH</b> to everyone ranked <b>between the 6th and the 11th place included</b>.</li>
              <li>And finally, <b>from the 12th to the 20th place included</b>, we will give a <b>YTIcon*</b> with a starting price of <b>0.05 ETH</b>.</li>
            </ul>
            <p>But do not worry, we did not forget all the other contributors !
              The participants will be added to our mailing list to receive emails before any YTIcons’ releases !</p>
            <p><b>*</b> : all of the given YTIcons will be carefully chosen by us to avoid having duplicated requests and to avoid any excess.
              However, we guarantee to give all of the winners a YTIcon worth its price !</p>
          </div>

          <h3 class="bounty-title">Is there a deadline ?</h3>
          <div class="bounty-content">
            <p>The bounty program will remain until the <b>end of April</b>. Past this date, we will evaluate all the sent contributions and finally contact the winners.</p>
          </div>

        </div><!-- end /.job_detail_module -->
      </div><!-- end /.col-md-6 -->
    </div><!-- end /.row -->
  </div><!-- end /.container -->
</section>
<!--================================
    END JOB AREA
=================================-->
