
<section class="breadcrumb-area">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="breadcrumb">
          <ul>
            <li><a routerLink="/home">Home</a></li>
            <li class="active"><a routerLink="/bountyprogram">Bounty Program</a></li>
          </ul>
        </div>
        <h1 class="page-title">Bounty Program</h1>
      </div>
    </div>
  </div>
</section>

<section class="bounty-area section--padding2">
  <div class="container">
    <div class="row">
      <div class="col-md-12">

        <div class="bounty-detail-module">
          <!--<h3 class="job__title">Job Description</h3>-->
          <div class="bounty-content">
            <p>Anticipating the release of YTIcons, we always wanted to reward our community for helping us creatively
              spreading the word of our interactive game online.</p>
            <p>With the launch of YTIcons, we finally get the opportunity to give our community what they deserve !</p>
          </div>

          <h3 class="bounty-title">How can I participate ?</h3>
          <div class="bounty-content">
            <p>We are aware that we cannot restrain our community to spread the word on one and only social network.
              This is why we trust your originality in giving you the freedom to create any type of content
              (articles, social media posts, podcasts, reviews, videos, advertisements…) to promote YTIcons on your preferred platform(s).</p>
            <p>Once it is done, send us an email with your contributions to <b>contact@yticons.co</b> with your Ethereum
              wallet address to join the bounty program.
              Our team will then evaluate your submissions and rank your efforts.</p>
            <p>The contributions will be judged depending on different factors such as :</p>
            <ul class="content_list">
              <li>
                The <b>creativity</b> : express yourself. We want you to release the hidden artist’s soul in you. Let go, be crazy, be different.
              </li>
              <li>
                The <b>effort</b> : we will be looking for an impressive content. By “impressive”, we mean something in which
                you spent a considerable amount of time, effort and preciseness.
              </li>
              <li>
                The <b>accuracy</b> : until now, we have been completely honest about YTIcons (how it works, the Smart Contract…)
                for the community’s sake and we want it to stay that way. Therefore in this part, we will judge the quality of the informations and make sure it is correct.
              </li>
              <li>
                The <b>effect</b> : if your content has been seen, retweeted, liked in droves, then you are pretty sure to get all the points here.
                On the other hand, if it went viral, not only you will get all of this section’s points but they will also be multiplied by two !
              </li>
            </ul>
            <p>Every section cited above has a maximum score of 20 (except for the “effect” factor which can have a score of 40).</p>
          </div>

          <h3 class="bounty-title">What are the rewards ?</h3>
          <div class="bounty-content">
            <p>It is finally time to get to the most amazing part. You will be attributed one of these grades (which will also decide of your reward) :</p>
            <ul class="content_list">
              <li><b>A</b> : you will receive a <b>YTIcon*</b> with a starting price of <b>0.5 ETH</b>.</li>
              <li><b>B</b> : you will receive a <b>YTIcon*</b> with a starting price of <b>0.2 ETH</b>.</li>
              <li><b>C</b> : you will receive a <b>YTIcon*</b> with a starting price of <b>0.05 ETH</b>.</li>
              <li><b>D</b> : you will be added to the <b>mailing list</b> to receive emails before any YTIcons’ releases !</li>
            </ul>
            <p><b>*</b> : all of the given YTIcons will be carefully chosen by us to avoid having duplicated requests and to avoid any excess.
              However, we guarantee to give all of the winners a YTIcon worth its price !</p>
          </div>

          <h3 class="bounty-title">There are rumors about something more…</h3>
          <div class="bounty-content">
            <p>Oops, we have been exposed : yes, there is indeed something more. To thank you for your participation and your valuable support,
              we decided to launch a <b>giveaway</b>.</p>
            <p>To enter, nothing complicated : all you have to do is to follow us on Twitter (<b><a href="https://twitter.com/YT_Icons" target="_blank">@YT_Icons</a></b>), retweet our giveaway tweet,
              and join the Discord available right <b><a href="https://discord.gg/zFEwyan" target="_blank">here</a></b>.
              To allow us to check that everything is in order, please refer to the <b>/bounty-program</b> channel and send your Twitter’s ID (e.g. @YT_Icons).</p>
            <p>After the end of the bounty program, a lottery will take place and the lucky winner will get a <b>YTIcon worth 1 ETH</b>.</p>
          </div>

          <h3 class="bounty-title">Is there a deadline ?</h3>
          <div class="bounty-content">
            <p>The bounty program will remain until the end of April : on <b>Monday, April 30th at 11:59PM UTC</b>.
              Past this date, we will evaluate all the sent contributions and finally contact all the winners to send them their rewards.</p>
          </div>

        </div><!-- end /.job_detail_module -->
      </div><!-- end /.col-md-6 -->
    </div><!-- end /.row -->
  </div><!-- end /.container -->
</section>
<!--================================
    END JOB AREA
=================================-->
